- if @vat_period.can_report?
  = link_to "#{t(:create)} #{t(:verificate)}", state_change_vat_period_path(@vat_period, event: 'mark_reported'), method: 'post', class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:tax_code)
        %th= t(:text)
        %th.numeric= t(:amount)
        %th
    %tbody
      - @vat_reports.each do |vat_report|
        %tr
          %td= vat_report.code
          %td= vat_report.text
          %td.numeric= vat_report.amount
          - if vat_report.code != 49 
            - url = vat_period_vat_report_path(vat_report.vat_period_id, vat_report) + "&code=#{vat_report.code}"
            %td.numeric= link_to settings_icon, url

  = paginate @vat_reports, :theme => 'twitter-bootstrap-3'
