%h1 Dashboard
%div
  @TBD Statistics, diagrams etc.

.row
  .col-md-4
    %h4 Shortcuts
    %ul.nav.nav-pills.nav-stacked.col-md-6
      %li= link_to "Create invoice", '#'
      %li= link_to "Create product", new_product_path

  .col-md-4
    %h4 Misc
    %ul.nav.nav-pills.nav-stacked.col-md-6
      %li= link_to "Invoices", '#'
      %li= link_to "Warehouses", warehouses_path
      %li= link_to "Products", products_path

.row
  .col-md-6
    %h4 TODO
    %pre= @todo_content
