%p
  = t(:ink_code_info)
  = t(:more_info)
  %a{ href: 'https://www.skatteverket.se/foretagochorganisationer/inkomstdeklaration.4.133ff59513d6f9ee2ebe38.html', target: '_blank'} här
%p
  = t(:ink_code_INK2)
%p
  = t(:ink_code_INK3)
%p
  = t(:ink_code_INK4)
%p
  = t(:more_info)
  %a{ href: 'https://www.bas.se/kontoplaner/sru/vad-ar-sru-kopplingar/', target: '_blank'} SRU-koppling
