%table{'class' => 'table table-striped'}
  %tr
    %th= t(:name)
    %th= t(:incoming)
    %th= t(:quantity)
    %th= t(:outgoing)
    %th
  - shelves.each do |shelf|
    %tr
      %td= link_to shelf.name, batch_path(shelf.batch_id)
      %td= shelf.incoming
      %td= shelf.quantity
      %td= shelf.outgoing
      %td= link_to t(:history), shelf_path(shelf)
