= simple_form_for(@inventory, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  disabled: !@inventory.new_record?
  = f.association :user, disabled: !@inventory.new_record?

  - if @inventory.new_record?
    %div{ :ng_controller => 'inventory_form_ctrl', :ng_init => 'init()'}
      = render partial: 'shared/date_field', locals: {form: f, field: :inventory_date, in_id: 'in_inventory_date', in_value: @inventory.inventory_date, out_id: 'inventory[inventory_date]', field_id: 'inventory_short_date',  model: 'inv_date', dp_open: 'inv_open', dp_options: 'inv_options', dp_click: 'open_inv_date($event)'}
  - else
    = f.input :inventory_date, as: :string, disabled: true, :input_html => {:class=>'date',:value => localize(f.object.inventory_date, :format => "%Y-%m-%d")}

  - if !@inventory.new_record?
    = f.input :state, disabled: true, :input_html => {:class=>'medium'}
  - if !@inventory.can_edit_items? 
    = f.input :started_at, as: :string, disabled: true, :input_html => {:class=>'date', :value => localize(f.object.started_at, :format => "%Y-%m-%d")}
  - if @inventory.is_completed?
    = f.input :completed_at, as: :string, disabled: true, :input_html => {:class=>'date', :value => localize(f.object.completed_at, :format => "%Y-%m-%d")}
  - if @inventory.new_record?
    = f.submit class: 'btn btn-primary'