- date_now = DateTime.now.strftime("%Y-%m-%d")
%ul.nav.nav-tabs
  %li.active= link_to t(:base_information), '#inventory-form', data:{toggle:'tab'}
  %li= link_to t(:comments), '#inventory-comments', data:{toggle:'tab'}

.tab-content
  #inventory-form.tab-pane.active
    %br
    = render partial: 'form'

    .row.form-horizontal
      .labels_width.control-label
        %strong= t(:form_items)
      .fields_width.form-control-static
        = render partial: 'inventory_items/index'

    - if !@inventory.completed?
      .form-button-group
        .actions
          %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#scId'}
            #{t(@inventory.next_event)}
          = render partial: 'shared/modal_state_changes', locals: {modalId: 'scId',
                                                     date_label: t(:the_date),
                                                     date_field: :state_change_at,
                                                     date_value: date_now,
                                                     min_date: nil,
                                                     max_date: nil,
                                                     model: @inventory,
                                                     form_path: state_change_inventory_path(@inventory),
                                                     event: @inventory.next_event,
                                                     return_path: inventory_path(@inventory)}

  #inventory-comments.tab-pane
    = render partial: 'comments/index', locals: {comments: @invent.comments, parent: @invent}
