%ul.nav.nav-tabs
  %li.active= link_to t(:base_information), '#inventory-form', data:{toggle:'tab'}
  %li= link_to t(:comments), '#inventory-comments', data:{toggle:'tab'}

.tab-content
  #inventory-form.tab-pane.active
    %br
    = render partial: 'form'

    .row.form-horizontal
      .labels_width.control-label
        %strong= t(:form_items)
      .fields_width.form-control-static
        = render partial: 'inventory_items/index'

    .form-button-group
      .actions
        - if !@inventory.completed?
          %div{:ng_controller => "ModalCtrl"}
            %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','inventoryContent' )"}
              #{t(@inventory.next_event)}
            = render partial: 'shared/modal_state_change', locals: {idx: 'inventoryContent', model: @inventory, form_path: state_change_inventory_path(@inventory), event: @inventory.next_event, return_path: inventory_path(@inventory)}

  #inventory-comments.tab-pane
    = render partial: 'comments/index', locals: {comments: @inventory.comments, parent: @inventory}
