= simple_form_for(@import_bank_file,
  wrapper: :horizontal_form,
  html: {class: 'form-horizontal', multipart: true}) do |f|
  = f.error_notification
  .form-group.form-inline
    .labels_width.control-label
      = f.label :name
    .fields_width
      = f.input :name, label: false, readonly: true
      = info_modal('#nameId')
  = f.input :upload, wrapper: :horizontal_file_input, accept: 'text/csv'

  - if @import_bank_file.new_record?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'

= render partial: 'shared/modal_infos', locals: {modalId: 'nameId' , modalBody: 'info_name'}