= link_to "#{t(:upload)} #{t(:bank_file)}", new_import_bank_file_path, class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:imported_at)
        %th= t(:from)
        %th= t(:to)
        %th
        %th
    %tbody
      - @import_bank_files.each do |import_bank_file|
        %tr
          %td= import_bank_file.reference
          %td= import_bank_file.import_date
          %td= import_bank_file.from_date
          %td= import_bank_file.to_date
          %td.numeric= link_to settings_icon, import_bank_file_path(import_bank_file)
          %td.numeric= delete_modal import_bank_file, nil, '#mdId'

  = paginate @import_bank_files, :theme => 'twitter-bootstrap-3'

  = render partial: 'shared/modal_refresh', locals:{idx: 'bank_file_id', obj: @bank_trans, back: import_bank_files_path, path: import_bank_files_path}

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}