= simple_form_for(@employee, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :name
  = f.input :birth_year

  .form-group.form-inline
    .labels_width.control-label
      = f.label :begin
    .fields_width
      = f.date_field :begin

  .form-group.form-inline
    .labels_width.control-label
      = f.label :ending
    .fields_width
      = f.date_field :ending

  = f.input :wage_type, collection: Employee::WAGE_TYPES, include_blank: false
  #salary-wrapper
    = f.input :salary
  = f.association :tax_table, collection: @tax_tables, include_blank: false

  .form-group.form-inline
    .labels_width.control-label
      = f.label :tax_table_column
    .fields_width
      = f.input :tax_table_column, label: false, collection: TaxTable::COLUMNS, include_blank: false, :input_html => {:class=>'numeric form-control'}
      = info_modal('#taxTableColumnId')
  #tax-wrapper
    = f.input :tax, disabled: true
  = f.input :personal, :input_html => {:class => 'short'}

  .form-group.form-inline
    .labels_width.control-label
      = f.label :clearingnumber
    .fields_width
      = f.input :clearingnumber, label: false, :input_html => {:class=>'numeric'}
      = info_modal('#clearingnumberId')

  = f.input :bank_account

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'

= render partial: 'shared/modal_infos', locals: {modalId: 'taxTableColumnId' , modalBody: 'info_tax_table_column'}
= render partial: 'shared/modal_infos', locals: {modalId: 'clearingnumberId' , modalBody: 'info_clearingnumber'}

:javascript

  $(document).ready(function() {


    $("#employee_wage_type").change(function() {
      wage_type_fields();
    });
    function wage_type_fields() {
      if ($('#employee_wage_type').val() == 'Fixed') {
        $('#salary-wrapper').show();
        $('#tax-wrapper').show();
        }
      else {
        $('#salary-wrapper').hide();
        $('#tax-wrapper').hide();
      };
    };
    wage_type_fields();
  });