.info
  %div{id: 'tax_table_column'}
    %h4
      = t(:employee_tax_table)
    %p
      %b
        = t(:column_1)
      = t(:employee_tax_table_column_1)
    %p
      %b
        = t(:column_2)
      = t(:employee_tax_table_column_2)

    %p
      %b
        = t(:column_3)
      = t(:employee_tax_table_column_3)
    %p
      %b
        = t(:column_4)
      = t(:employee_tax_table_column_4)
    %p
      %b
        = t(:column_5)
      = t(:employee_tax_table_column_5)
    %p
      %b
        = t(:column_6)
      = t(:employee_tax_table_column_6)
  %div{id: 'clearingnumber'}
    %p
      = t(:tax_table_clearingnumber)
    %p  
      = t(:more_info)
      %a{ href: 'http://clearingnummer.info/', target: '_blank'}  cleringnummer.info
