.btn-group
  = link_to "#{t(:create)} #{t(:employee)}", new_employee_path, class: 'btn btn-success'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:begin)
        %th= t(:end)
        %th
        %th
    %tbody{}
      - @employees.each do |employee|
        %tr
          %td= employee.name
          %td= employee.begin
          %td= employee.ending
          %td.numeric= link_to settings_icon, employee_path(employee)
          %td.numeric= delete_modal_for employee

  = paginate @employees, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
= render('shared/wizard2', wizard_name: session[:wizard]) if session[:wizard] == 'wages'
