= simple_form_for(@mail_template, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :name
  = f.input :template_type, as: :select, collection: MailTemplate::TEMPLATE_TYPES, include_blank: false

  .form-group.form-inline
    .labels_width.control-label
      = f.label :from
    .fields_width
      = f.input :from, label: false, disabled: true
      = info_modal('#mailFromId')

  .form-group.form-inline
    .labels_width.control-label
      = f.label :to
    .fields_width
      = f.input :to, label: false, disabled: true
      = info_modal('#mailToId')

  = f.input :subject

  .form-group.form-inline
    .labels_width.control-label
      = f.label :attachment
    .fields_width
      = f.input :attachment, label: false, disabled: true
      = info_modal('#mailAttachmentId')

  .form-group.form-inline
    .labels_width.control-label
      = f.label :text
    .fields_width
      = f.text_area :text, cols: '70', rows: '10'
      = info_modal('#mailTextId')

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'

= render partial: 'shared/modal_infos', locals: {modalId: 'mailFromId' , modalBody: 'info_mail_from'}
= render partial: 'shared/modal_infos', locals: {modalId: 'mailToId' , modalBody: 'info_mail_to'}
= render partial: 'shared/modal_infos', locals: {modalId: 'mailAttachmentId' , modalBody: 'info_mail_attachment'}
= render partial: 'shared/modal_infos', locals: {modalId: 'mailTextId' , modalBody: 'info_mail_text'}