%div{:ng_controller => 'mail_template_form_ctrl'}
  = simple_form_for(@mail_template, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification
    = f.input :name
    = f.input :template_type, as: :select, collection: MailTemplate::TEMPLATE_TYPES, include_blank: false

    .form-group.form-inline
      .labels_width.control-label
        = f.label :from
      .fields_width
        = f.input :from, label: false, disabled: true
        = info_modal_for('mail_from')

    .form-group.form-inline
      .labels_width.control-label
        = f.label :to
      .fields_width
        = f.input :to, label: false, disabled: true
        = info_modal_for('mail_to')

    = f.input :subject

    .form-group.form-inline
      .labels_width.control-label
        = f.label :attachment
      .fields_width
        = f.input :attachment, label: false, disabled: true
        = info_modal_for('mail_attachment')

    .form-group.form-inline
      .labels_width.control-label
        = f.label :text
      .fields_width
        = f.text_area :text, cols: '70', rows: '8'

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'

    = render partial: 'shared/modal_info', locals: {idx: 'infoContent'}
    = render partial: 'info'