= link_to t(:add_comment), new_comment_path(parent_id: 0, parent_type: nil), class: 'btn btn-default'

%div{:ng_controller=>'ModalCtrl'}
  .col-sm-24
    .list-group
    - @comments.each do |comment|
      .list-group-item
        .list-group-item-heading
          = comment.created_at.strftime("%Y-%m-%d")
          &nbsp;&nbsp;
          = comment.user.name
          .pull-right
            = link_to settings_icon, comment_path(comment)
            = delete_modal_for comment
        .list-group-item-text
          = comment.body
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
