= link_to t(:add_comment), new_comment_path(parent_id: 0, parent_type: 'nil'), class: 'btn btn-success'

.table-responsive
  .col-sm-24
    .list-group
    - @comments.each do |comment|
      .list-group-item
        .list-group-item-heading
          = comment.created_at.strftime("%Y-%m-%d")
          &nbsp;&nbsp;
          = comment.user.name
          .pull-right
            = link_to settings_icon, comment_path(comment)
            = delete_modal comment, nil, '#mdId'
        .list-group-item-text
          = comment.body

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}