%div{ng_controller: 'opening_balance_form_ctrl', ng_init: 'init()' }
  = simple_form_for(@closing_balance, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    = f.association :accounting_period, collection: @accounting_periods, include_blank: false, disabled: !@closing_balance.new_record?, input_html: {ng_model: 'period', ng_change: 'change_period()',}
    - if @closing_balance.new_record?
      = render partial: 'shared/date_field', locals: {form: f, field: :posting_date, in_id: 'in_posting', in_value: @closing_balance.posting_date, out_id: 'closing_balance[posting_date]', field_id: 'posting_short_date',  model: 'posting_date', dp_open: 'posting_open', dp_options: 'posting_options', dp_click: 'open_posting_date($event)'}
      .error_width
        = f.error :posting_date
    - if !@closing_balance.new_record?
      = f.input :posting_date, as: :string, disabled: true, :input_html => { :class => 'date', :value => localize(f.object.posting_date, :format => "%Y-%m-%d"), :readonly => 'readonly'}
    = f.input :description, disabled: !@closing_balance.new_record?
    = f.input :confirmed

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'