= render partial: 'shared/search_account', locals: {model: @opening_balance, account: 'opening_balance_item_account_id', description: 'opening_balance_item_description'}
= simple_form_for([@opening_balance, @opening_balance_item], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :account, input_html: {readonly: true, class: 'numeric'}
  = f.input :description

  = f.input :debit, input_html: {value: 0}
  = f.input :credit, input_html: {value: 0}

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'

:javascript

  $(document).ready(function() {

    $("#verificate_id").change(function() {
      set_account();
    });

    set_account();

    function set_account() {
      $("#opening_balance_item_account_id").val($('#verificate_id').val());
      $('#opening_balance_item_description').val($('#verificate_id option:selected').text());
    }
  });