- @opening_balance_items = @opening_balance.opening_balance_items.joins(:account).order('accounts.number').page(params[:page]).decorate

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:account)
        %th= t(:description)
        %th.numeric= t(:debit)
        %th.numeric= t(:credit)
        %th.nowrap= t(:result_unit)
        %th
    %tbody{}
      - @opening_balance_items.each do |opening_balance_item|
        %tr
          %td= opening_balance_item.account_number
          %td= opening_balance_item.description
          %td.numeric= opening_balance_item.debit
          %td.numeric= opening_balance_item.credit
          %td
          %td= delete_modal_for opening_balance_item, opening_balance_opening_balance_item_path(@opening_balance, opening_balance_item)
      %tr
        %td
        %td
          = t(:total)
        %td.numeric
          = number_with_precision(@opening_balance.total_debit, precision: 2)
        %td.numeric
          = number_with_precision(@opening_balance.total_credit, precision: 2)
        %td
        %td
  = paginate @opening_balance_items, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}



