= link_to "#{t(:upload)} #{t(:sie_file)}", new_sie_import_path, class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:imported_at)
        %th= t(:sie_type)
        %th= t(:state)
        %th= t(:user)
        %th= t(:accounting_period)
        %th
    %tbody
      - @sie_imports.each do |sie_import|
        %tr
          %td= sie_import.import_date
          %td= sie_import.sie_type
          %td= sie_import.states
          %td= sie_import.user.name
          %td= sie_import.accounting_period.name
          %td.numeric= delete_modal sie_import, nil, '#mdId'

  = paginate @sie_imports, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}
