.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:posting_date)
        %th= t(:description)
        %th= t(:name)
        %th= t(:choose)
    %tbody
      - @verificates.each do |verificate|
        %tr
          %td= verificate.posting_date_formatted
          %td= verificate.description
          %td= verificate.note
          - url = verificate_path(verificate) + "&import_bank_file_row_id=" + @import_bank_file_row.id.to_s
          %td= link_to ok_icon, url
      - if @templates 
        - @templates.each do |template|
          %tr
            %td
            %td= template.description
            %td= template.name
            - url = import_bank_file_import_bank_file_row_set_template_verificate_path(@import_bank_file, @import_bank_file_row) + "&template_id="+template.id.to_s
            %td= link_to ok_icon, url
      %tr
        %td
        %td= t(:sale_eu_countries)
        %td= t(:reversed_vat)
        - url = new_simplified_sale_path + "&import_bank_file_row_id=" + @import_bank_file_row.id.to_s
        %td= link_to ok_icon, url
      %tr
        %td
        %td= t(:manually)
        %td
        - url = import_bank_file_import_bank_file_row_set_verificate_path(@import_bank_file, @import_bank_file_row)
        %td= link_to ok_icon, url   