= simple_form_for([@wage_period, @wage], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :accounting_period_id, as: :hidden
  = f.input :wage_period_id, as: :hidden
  = f.association :employee, collection: @employees, disabled: !@wage.new_record?

  .form-group.form-inline
    .labels_width.control-label
      = f.label :wage_from
    .fields_width
      = f.date_field :wage_from
      = f.error :wage_from

  .form-group.form-inline
    .labels_width.control-label
      = f.label :wage_to
    .fields_width
      = f.date_field :wage_to
      = f.error :wage_to

  .form-group.form-inline
    .labels_width.control-label
      = f.label :payment_date
    .fields_width
      = f.date_field :payment_date
      = f.error :payment_date

  = f.input :salary
  = f.input :addition
  = f.input :discount
  = f.input :tax, disabled: true
  = f.input :amount, disabled: true
  = f.input :payroll_tax, disabled: true

  - if @wage.new_record? || @wage.can_delete?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'
