= simple_form_for([@purchase, @purchase_item]) do |f|
  = f.error_notification
  = f.association :product
  = f.input :quantity
  = f.input :price

  = f.submit class: 'btn btn-primary'
  = link_to 'Back', purchase_path(@purchase), class: 'btn btn-default'