%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:item)
      %th= t(:product)
      %th{:style => "text-align:right"}
        = t(:quantity)
      %th{:style => "text-align:right"}
        = t(:price)
      %th{:style => "text-align:right"}
        = t(:total_amount)
      %th
    %tbody
      - purchase_items.each do |i|
        %tr
          %td= i.item_id? ? i.item.name : ' '
          %td= i.product_id? ? i.product.name : ' '
          %td{:style => "text-align:right"}
            = i.quantity 
          %td{:style => "text-align:right"}
            = as_sek(i.price)
          %td{:style => "text-align:right"}
            = as_sek(i.total_amount)
          %td= delete_button_for i, purchase_purchase_item_path(@purchase, i)
