.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:ink_code)
        %th= t(:text)
        %th.numeric= t(:amount)
        %th
    %tbody
      - @tax_return_reports.each do |tax_return_report|
        %tr
          %td= tax_return_report.ink_code.code
          %td= tax_return_report.ink_code.text
          %td.numeric= tax_return_report.amount
          - if tax_return_report.ink_code.sum_method != 'total'
            - url = tax_return_tax_return_report_path(tax_return_report.tax_return_id, tax_return_report) + "&ink_code_id=#{tax_return_report.ink_code_id}"
            %td.numeric= link_to settings_icon, url

  = paginate @tax_return_reports, :theme => 'twitter-bootstrap-3'