.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:number)
        %th= t(:posting_date)
        %th= t(:description)
        %th.numeric= t(:debit)
        %th.numeric= t(:credit)
        %th
    %tbody{}
      - tot_deb = 0
      - tot_cre = 0
      - @items.each do |item|
        - tot_deb += item.debit
        - tot_cre += item.credit
        %tr
          - if item.is_a?(ClosingBalanceItem)
            %td
            %td= item.account_number
            %td= t(:ub)
            %td.numeric= item.debit
            %td.numeric= item.credit
            %td
          - else
            %td= item.verificate_number
            %td= item.posting_date
            %td= item.verificate_description
            %td.numeric= item.debit
            %td.numeric= item.credit
            %td
      %tr
        %td
        %td
        %th= t(:total)
        %td.numeric= tot_deb
        %td.numeric= tot_cre
        %td.numeric= tot_deb - tot_cre
