- @templates = @accounting_period.templates.order('posting_date').page(params[:page])
.btn-group
  = link_to "#{t(:create)} #{t(:verificate)}", new_accounting_period_verificate_path(@accounting_period), class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:posting_date)
        %th= t(:description)
        %th
        %th
    %tbody
      - @verificates.each do |verificate|
        %tr
          %td= verificate.posting_date
          %td= verificate.description
          %td.numeric= link_to settings_icon, edit_accounting_period_verificate_path(@accounting_period, verificate)
          %td.numeric= delete_modal verificate, accounting_period_verificate_path(@accounting_period, verificate), '#mdId'

  = paginate @verificates, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}

