.input-group.col-sm-48{ng_controller: 'templates_index_ctrl' }
  %input{id: 'plan_id', type: 'hidden', value: @plan_id}
  = link_to "#{t(:create)} #{t(:template)}", new_template_path, class: 'btn btn-success'
  = link_to "#{t(:import)} #{t(:templates)}", templates_import_path + "&accounting_plan_id={{plan}}", class: 'btn btn-default', method: 'post'

  .col-sm-30.col-md-30.pull-right.text-right
    = form_tag templates_path, class: 'form-inline submit-on-change', method: :get do
      = select_tag(:accounting_plan_id,
        options_for_select(@accounting_plans.each.collect{|w| [w.name, w.id]}, params[:accounting_plan_id]),
        ng_model: 'plan',
        class: 'btn btn-default')
  .clear &nbsp;

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:description)
        %th
        %th
    %tbody{}
      - @templates.each do |template|
        %tr
          %td= template.name
          %td= template.description
          %td.numeric= link_to settings_icon, template_path(template)
          %td.numeric= delete_modal_for template

  = paginate @templates, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
= render('shared/wizard', wizard_name: session[:wizard]) if session[:wizard] == 'economics'