= simple_form_for(@sie_export, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :accounting_period, collection: @accounting_periods, include_blank: false, disabled: !@sie_export.new_record?
  = f.input :sie_type, as: :select, collection: SieExport::SIE_TYPES, include_blank: false, disabled: !@sie_export.new_record?

  .form-button-group
    .actions
      - if @sie_export.new_record?
        = f.submit class: 'btn btn-primary'
      - if @sie_export.download.exists?
        = link_to "#{t(:download)}", @sie_export.download.url, class: 'btn btn-success', target: "_blank"
