= link_to "#{t(:download)} #{t(:sie_export)}", new_sie_export_path, class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:exported_at)
        %th= t(:sie_type)
        %th= t(:state)
        %th= t(:accounting_period)
        %th
        %th
    %tbody{}
    - @sie_exports.each do |sie_export|
      %tr
        %td= sie_export.exported_at
        %td= sie_export.sie_type
        %td= sie_export.states
        %td= sie_export.accounting_period.name
        - if sie_export.completed?
          %td.numeric= link_to download_icon, sie_export_path(sie_export, format: :text)
        - else
          %td= ' '
        %td.numeric= delete_modal sie_export, nil, '#mdId'

= paginate @sie_exports, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}
