= simple_form_for(@export_bank_file, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  .form-group.form-inline
    .labels_width.control-label
      = f.label :export_date
    .fields_width
      = f.date_field :export_date
      = f.error :eport_date

  .form-group.form-inline
    .labels_width.control-label
      = f.label :from_date
    .fields_width
      = f.date_field :from_date
      = f.error :from_date

  .form-group.form-inline
    .labels_width.control-label
      = f.label :to_date
    .fields_width
      = f.date_field :to_date
      = f.error :to_date

  = f.input :reference, as: :select, collection: ExportBankFile::TYPES, include_blank: false, disabled: !@export_bank_file.new_record?
  = f.input :pay_account
  = f.input :organization_number
  = f.input :iban

  - if @export_bank_file.new_record?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'