%div{ :ng_controller => 'export_bank_file_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@export_bank_file, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    = render partial: 'shared/date_field', locals: {form: f, field: :export_date, in_id: 'in_export_date', in_value: @export_bank_file.export_date, out_id: 'export_bank_file[export_date]', field_id: 'ex_short_date',  model: 'ex_date', dp_open: 'ex_open', dp_options: 'ex_options', dp_click: 'open_ex($event)'}
    = render partial: 'shared/date_field', locals: {form: f, field: :from_date, in_id: 'in_from_date', in_value: @export_bank_file.from_date, out_id: 'export_bank_file[from_date]', field_id: 'from_short_date',  model: 'from_date', dp_open: 'from_open', dp_options: 'from_options', dp_click: 'open_from($event)'}
    = render partial: 'shared/date_field', locals: {form: f, field: :to_date, in_id: 'in_to_date', in_value: @export_bank_file.to_date, out_id: 'export_bank_file[to_date]', field_id: 'to_short_date',  model: 'to_date', dp_open: 'to_open', dp_options: 'to_options', dp_click: 'open_to($event)'}

    = f.input :reference, disabled: !@export_bank_file.new_record?
    = f.input :pay_account
    = f.input :organization_number
    = f.input :iban

    - if @export_bank_file.new_record?
      .form-button-group
        .actions
          = f.submit class: 'btn btn-primary'