= link_to "#{t(:export)} #{t(:bank_file)}", new_export_bank_file_path, class: 'btn btn-success'

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:exported_at)
        %th= t(:from)
        %th= t(:to)
        %th= t(:state)
        %th
        %th
        %th
    %tbody
      - @export_bank_files.each do |export_bank_file|
        %tr
          %td= export_bank_file.reference
          %td= export_bank_file.export_date
          %td= export_bank_file.from_date
          %td= export_bank_file.to_date
          %td= export_bank_file.states
          %td.numeric= report_button_for export_bank_file_path(export_bank_file)
          %td.numeric= link_to settings_icon, edit_export_bank_file_path(export_bank_file)
          %td.numeric= delete_modal export_bank_file, nil, '#mdId'

  = paginate @export_bank_files, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}