%div{}
  = simple_form_for(@opening_balance, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification
    = f.input :accounting_period_id, as: :hidden, input_html: {value: @accounting_period.id}
    = f.input :description, disabled: !@opening_balance.new_record?
    = f.input :state, disabled: true
    - if !@opening_balance.new_record?
      = f.input :posting_date, as: :string, disabled: true, :input_html => { :class => 'date', :value => localize(f.object.posting_date, :format => "%Y-%m-%d"), :readonly => 'readonly'}

    - if @opening_balance.new_record?
      .form-button-group
        .actions
          = f.submit class: 'btn btn-primary'
