- min_date = localize(@opening_balance.accounting_period.allow_from, :format => "%Y-%m-%d")
- max_date = localize(@opening_balance.accounting_period.allow_to, :format => "%Y-%m-%d")
= hidden_field_tag 'allow_from', @opening_balance.accounting_period.from_formatted
= hidden_field_tag 'allow_to', @opening_balance.accounting_period.to_formatted
= simple_form_for(@opening_balance, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.input :description, disabled: true
  = f.input :state, disabled: true
  - if @opening_balance.final?
    = f.input :posting_date, as: :string, disabled: true, :input_html => { :class => 'date', :value => localize(f.object.posting_date, :format => "%Y-%m-%d"), :readonly => 'readonly'}

  = render partial: 'opening_balance_items/list'
  .form-button-group
    .actions
      - if @opening_balance.preliminary?
        = link_to "#{t(:create)} #{t(:opening_balance_item)}", new_opening_balance_opening_balance_item_path(@opening_balance), class: 'btn btn-primary'
        - if  @previous_accounting_period && !@previous_accounting_period.closing_balance.nil?
          = link_to "#{t(:create)} #{t(:from_ub)}", opening_balance_create_from_ub_path(@opening_balance), method: 'post', class: 'btn btn-primary'
        %button{:id =>'state_change', :type => 'button', :class=>'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#scId'}
          = t(:confirm)
        = delete_button_for @opening_balance

= render partial: 'shared/modal_state_changes', locals: {modalId: 'scId',
                                                         date_label: t(:posting_date),
                                                         date_field: :state_change_at,
                                                         date_value: min_date,
                                                         min_date: min_date,
                                                         max_date: max_date,
                                                         model: @opening_balance,
                                                         form_path: state_change_opening_balance_path(@opening_balance),
                                                         event: 'mark_final',
                                                         return_path: opening_balances_path}
= render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
