.container.row.btn-group
  = link_to "#{t(:create)} #{t(:organisation)}", new_organisation_path, class: 'btn btn-default'
%div{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table'}
    %thead{:class => 'well'}
      %tr
        %th= t(:organisation)
        %th= t(:address)
        %th= t(:zip)
        %th= t(:city)
        %th
        %th
    %tbody{}
      - @organisations.each do |organisation|
        %tr
          %td= link_to organisation.name, organisation
          %td= link_to settings_icon, organisation
          %td= delete_modal_for organisation

  = paginate @organisations, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
