- @closing_balance_items = @closing_balance.closing_balance_items.joins(:account).order('accounts.number').page(params[:page]).decorate

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:account)
        %th= t(:description)
        %th.numeric= t(:debit)
        %th.numeric= t(:credit)
    %tbody
      - @closing_balance_items.each do |closing_balance_item|
        %tr
          %td= closing_balance_item.account.number
          %td= closing_balance_item.description
          %td.numeric= closing_balance_item.debit
          %td.numeric= closing_balance_item.credit
      %tr
        %td
        %td
          = t(:total)
        %td.numeric
          = number_with_precision(@closing_balance.total_debit, precision: 2)
        %td.numeric
          = number_with_precision(@closing_balance.total_credit, precision: 2)

  = paginate @closing_balance_items, :theme => 'twitter-bootstrap-3'



