= simple_form_for(@user, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  = f.input :name, disabled: true
  = f.input :email, disabled: true
  = f.input :default_locale, as: :radio_buttons,
    collection: [[t(:english), :en],[t(:swedish), :se]],
    wrapper: :horizontal_radio_and_checkboxes, disabled: true

