<h1>Användare</h1>

<table class="table table-border">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'visa', user %></td>
        <% if can? :manage, Role %>
          <td><%= link_to 'Rättigheter', edit_roles_user_path(user) %></td>
        <% end %>
        <td><%= link_to 'ändra', edit_user_path(user) %></td>
        <td><%= link_to 'ta bort', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn" %>
