%h1 Users

%table{:class => 'table table-striped'}
  %head
    %tr
      %th Email
      %th
      %th
      %th
      %th
    %tbody
    - @users.each do |user|
      %tr
        %td #{user.email}
        %td #{link_to 'visa', user}
        - if can? :manage, Role
          %td #{link_to 'Rättigheter', edit_roles_user_path(user)}
        %td #{link_to 'ändra', edit_user_path(user)}
        %td #{link_to 'ta bort', user, method: :delete, data: { confirm: 'Are you sure?' }}
%br
= link_to 'New User', new_user_path, :class => "btn"
