.form-button-group{:ng_controller=>'ModalCtrl'}
  .actions

    - if @purchase.can_edit_items?
      = link_to t(:add_batch), new_purchase_purchase_item_path(@purchase), class: 'btn btn-primary'

    - if @purchase.can_edit_items? && @purchase.purchase_items.count > 0
      %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','purchaseContent' )"}
        = t(:ordered)
      = render partial: 'shared/modal_state_change', locals: {idx: 'purchaseContent', model: @purchase, form_path: state_change_purchase_path(@purchase), event: @purchase.next_event, return_path: purchase_path(@purchase)}

    - if @purchase.prepared?
      %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','invoiceContent' )"}
        = t(:invoiced)
      = render partial: 'shared/modal_state_change', locals: {idx: 'invoiceContent', model: @purchase, form_path: state_change_purchase_path(@purchase), event: 'mark_invoiced', return_path: purchase_path(@purchase), input: :supplier_reference}

    - if (!@purchase.can_edit_items? && !@purchase.received?)
      %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','goodsContent' )"}
        = t(:received)
      = render partial: 'shared/modal_state_change', locals: {idx: 'goodsContent', model: @purchase, form_path: state_change_purchase_path(@purchase), event: 'receive', return_path: purchase_path(@purchase)}

    - if (!@purchase.can_edit_items? && !@purchase.paid?)
      %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','payContent' )"}
        = t(:paid)
      = render partial: 'shared/modal_state_change', locals: {idx: 'payContent', model: @purchase, form_path: state_change_purchase_path(@purchase), event: 'pay', return_path: purchase_path(@purchase)}
