%div{:ng_controller=>'purchase_form_ctrl', :ng_init=>'init()'}
  = simple_form_for(@purchase, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    = f.input :description,  disabled: !@purchase.new_record?
    = f.association :supplier,  :input_html => {:ng_model=>'supplier', :ng_change=>'select_supplier()'}, disabled: !@purchase.new_record?
    = f.input :contact_name, disabled: !@purchase.new_record?
    = f.input :contact_email, disabled: !@purchase.new_record?
    = f.association :to_warehouse,  disabled: !@purchase.new_record?
    = f.association :our_reference, disabled: !@purchase.new_record?

    - if !@purchase.can_edit_items?
      = f.input :ordered_at,  disabled: true, :as=> :string, :input_html => { :class => 'date', :value => localize(f.object.ordered_at, :format => "%Y-%m-%d") }

    - if @purchase.is_received?
      = f.input :received_at,  disabled: true, :as=> :string, :input_html => { :class => 'date', :value => localize(f.object.received_at, :format => "%Y-%m-%d") }
    - if @purchase.is_paid?
      = f.input :paid_at,  disabled: true, :as=> :string, :input_html => { :class => 'date', :value => localize(f.object.paid_at, :format => "%Y-%m-%d") }
    - if @purchase.is_completed?
      = f.input :completed_at,  disabled: true, :as=> :string, :input_html => { :class => 'date', :value => localize(f.object.completed_at, :format => "%Y-%m-%d") }
            
    - if @purchase.new_record?
      = f.submit class: 'btn btn-primary'
