%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#purchase-form", {"data-toggle" => "tab"}
  %li= link_to t(:documents), "#document-index", {"data-toggle" => "tab"}
.tab-content
  #purchase-form.tab-pane.active
    %br
    = render 'form'
    = render 'buttons'
    = render partial: 'purchase_items/index'
  #document-index.tab-pane
    = render partial: 'documents/index', locals: {documents: @purchase.documents, parent: @purchase}
