= render 'form'
.alert.alert-info
  - case params['new_state']
  - when "start_processing"
    Registreringen klar. Godkänn ordern med datum. Beställning skapas.
  - when "order_complete"
    Ordern avslutas eller makuleras.
  - when "receive_goods"
    Leveransen godkänns. Alla lagerförda artiklar på ordern raporteras in. Om ordern betald sätts slutmarkering
  - when "pay"
    Ordern betald. Om leveransen godkänd sätts slutmarkering.
%div{ :ng_controller => 'purchaseEditCtrl' }
  = simple_form_for(@purchase, url: state_change_purchase_path(@purchase, new_state: params['new_state']), :method => 'post', wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    .form-group
      .col-sm-3.control-label
        - case params['new_state']
        - when "start_processing"
          = f.label  :ordered_at
        - when "order_complete"
          = f.label  :completed_at
        - when "receive_goods"
          = f.label  :received_at
        - when "pay"
          = f.label  :paid_at  
      .col-sm-9.col-md-2.col-lg-3.control-label
        .input-group
          - case params['new_state']
          - when "start_processing"
            %input{:type => 'date', :id => 'purchase_ordered_at', :name=> 'purchase[ordered_at]', :value =>"{{dt | date : 'yyyy-MM-dd'}}", :readonly=>"readonly"}
          - when "order_complete"
            %input{:type => 'date', :id => 'purchase_completed_at', :name=> 'purchase[completed_at]', :value =>"{{dt | date : 'yyyy-MM-dd'}}", :readonly=>"readonly"}
          - when "receive_goods"
            %input{:type => 'date', :id => 'purchase_received_at', :name=> 'purchase[received_at]', :value =>"{{dt | date : 'yyyy-MM-dd'}}", :readonly=>"readonly"}
          - when "pay"
            %input{:type => 'date', :id => 'purchase_paid_at', :name=> 'purchase[paid_at]', :value =>"{{dt | date : 'yyyy-MM-dd'}}", :readonly=>"readonly"}

    .form-group
      .col-sm-3.control-label
       
      .col-sm-9.col-md-2.col-lg-3.control-label
        .input-group
          %div{:style => "display:inline-block;"}
            %datepicker{:ng_model=>'dt',  :slutmarkeringshow_weeks => 'false', :starting_day => '1', :class=>'well well-sm'}

    = f.submit class: 'btn btn-primary'
    = link_to 'Back', purchase_path, class: 'btn btn-default'
  