.container.row
  = link_to "#{t(:create)} #{t(:purchase)}", new_purchase_path, class: 'btn btn-default'
  %select{id: 'selp', class: 'btn btn-default', onchange: 'location = this.options[this.selectedIndex].value;'}
    %option{value: purchases_path} #{t(:all)}
    %option{value: purchases_path + '&state=meta_complete'} #{t(:not_ordered)}
    %option{value: purchases_path + '&state=prepared'} #{t(:processing)}
%br
%table{:class => 'table'}
  %thead{:class => 'well'}
    %tr
      %th= t(:description)
      %th= t(:ordered_at)
      %th= t(:supplier)
      %th{:style => "text-align:right"}
        = t(:total_amount)
      %th= t(:state)
      %th= t(:parent_type)
      %th
      %th
    %tbody
      - @purchases.each do |purchase|
        %tr
          %td= purchase.description
          %td= purchase.ordered_at.nil? ? ' ': purchase.ordered_at.strftime("%Y-%m-%d") 
          %td= link_to purchase.supplier_name, purchase.supplier
          %td.numeric
            = as_sek(purchase.total_amount)
          %td
            - purchase.states.each do |s|
              = s
          - if purchase.parent_type == 'Production'
            %td= link_to purchase.parent_type, edit_production_path(purchase.parent_id)
          - elsif purchase.parent_type == 'Import'
            %td= link_to purchase.parent_type, edit_import_path(purchase.parent_id)
          - elsif
            %td
          %td= link_to settings_icon, purchase
          %td= delete_button_for purchase

= paginate @purchases, :theme => 'twitter-bootstrap-3'

:javascript
  $(document).ready(function() {
    var path = document.location.pathname + document.location.search
    $('#selp').val(path);
  });
 
