%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#purchase-form", {"data-toggle" => "tab"}
  %li= link_to t(:documents), "#contact-index", {"data-toggle" => "tab"}
.tab-content
  #purchase-form.tab-pane.active
    %br
    = render 'form'

    .row.form-horizontal
      .col-sm-11.col-md-9.col-lg-7.control-label
        %strong= t(:form_items)
      .col-sm-35.col-md-30.col-lg-25
        = render partial: 'purchase_items/index'

    = render 'buttons'
  #contact-index.tab-pane
    = render partial: 'documents/index', locals: {documents: @purchase.documents, parent: @purchase}
