%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#purchase-form", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
  %li= link_to t(:documents), "#contact-index", {"data-toggle" => "tab"}
.tab-content
  #purchase-form.tab-pane.active
    %br
    = render 'form'

    .row.form-horizontal
      .col-sm-11.col-md-9.col-lg-7.control-label
        %strong= t(:form_items)
      .col-sm-35.col-md-30.col-lg-25
        = render partial: 'purchase_items/index'

    = render 'buttons'
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @purchase.comments, parent: @purchase}
  #contact-index.tab-pane
    = render partial: 'documents/index', locals: {documents: @purchase.documents, parent: @purchase}

:javascript
  $(document).ready(function() {

  $('a[data-toggle="tab"]').on("click", function(e) {
   localStorage.setItem('purchase_tab', $(e.target).attr("href").substr(1));
  });

  var lastTab = localStorage.getItem('purchase_tab');
  if (lastTab) {
    $('ul.nav-tabs').children().removeClass('active');
    $('a[href="#'+ lastTab +'"]').parents('li:first').addClass('active');
    $('div.tab-content').children().removeClass('active');
    $('#'+lastTab).addClass('active');
  }
  });
