= simple_form_for(@purchase, wrapper: :horizontal_form, html: {class: 'form-horizontal', autocomplete: 'off'}, url: purchase_single_purchase_path(purchase_id: 0)) do |f|
  = f.error_notification

  = f.input :parent_type, :as => :hidden
  = f.input :parent_id, :as => :hidden
  = f.input :our_reference_id, :as => :hidden

  = f.input :description
  = f.association :supplier,  collection: @suppliers
  = f.input :contact_name
  = f.input :contact_email
  = f.simple_fields_for(:purchase_items) do |ff|
    = ff.association :item, :label => t(:work), collection: @item_selections, include_blank: false
    = ff.input :quantity, as: :hidden
    = ff.input :price, as: :hidden
    .form-group
      .labels_width.control-label
        = f.label :price
      .fields_width
        %input{id: 'price_edit', type: 'number', class: 'form-control numeric', value: 0}
        = ff.error :price
  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'


:javascript

  $(document).ready(function() {

    //$scope.supplier = $('#purchase_supplier_id').val();
    $('#price_edit').val(Calc.toDecimal($('#purchase_purchase_items_attributes_0_price').val()));

    $('#price_edit').blur( function(){
      $('#purchase_purchase_items_attributes_0_price').val(Calc.toInteger($('#price_edit').val()));
    });

    $("#purchase_supplier_id").change(function() {
      select_supplier();
    });

    function select_supplier() {
      $('#purchase_contact_name').val('');
      $('#purchase_contact_email').val('');
      var supplier_id = $('#purchase_supplier_id').val();
      for (x=0; x<gon.suppliers.length; x++) {
        if (supplier_id == gon.suppliers[x].id) {
          var contact_id = gon.suppliers[x].primary_contact_id;
          var contacts = gon.suppliers[x].contacts;
          for (y=0; y<contacts.length; y++) {
            if (contact_id == contacts[y].id) {
              $('#purchase_contact_name').val(contacts[y].name);
              $('#purchase_contact_email').val(contacts[y].email);
            }
          }
        }
      }
    };

  });