%script{ :type=>"text/ng_template", :id=>idx}
  .modal-header
    %h3{ :class=>"modal-title"}
      Set date for state 
      = form_path
  .modal-body
    = simple_form_for(model, url: form_path, method: :post, :ng_submit=>'sbm($event)') do |f|
      = hidden_field_tag 'new_state', next_step
      = hidden_field_tag 'return_path', return_path
      .form-group
        .input-group
          = hidden_field_tag "#{next_step}_at_full", "{{date}}"
          = text_field_tag "state_change_at", '', class: 'form-control', ng_model: 'date', datepicker_popup: 'yyyy-MM-dd', is_open: 'isOpen', datepicker_options: 'dpOptions', show_button_bar: 'false', readonly: true
          %span{:class => "input-group-btn"}
            %button{:class => "btn btn-default", :ng_click=>'openDate($event)' }
              %span{ :class => "glyphicon glyphicon-calendar"}
      = submit_tag t(:confirm), class: 'btn btn-primary'
      = button_tag t(:back), class: 'btn btn-danger reseter', type: 'reset', :ng_click=>"cancel()"

