= simple_form_for(Verificate.new, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  .form-group
    .labels_width.control-label
      %label= t(:accounting_group)
    .fields_width
      = f.collection_select :description, @accounting_groups, :id, :name

  .form-group
    .labels_width.control-label
      %label= t(:account)
    .fields_width
      = f.grouped_collection_select :id, @accounting_groups, :active_accounts, :name, :id, :description, include_blank: true
  %hr

:javascript

  $(document).ready(function() {
    $("#verificate_description").change(function() {
    set_accounts();
    });

  var models = $("#verificate_id").html();
  set_accounts();

  function set_accounts() {
      var item = $("#verificate_description option:selected").text();
      var options = $(models).filter('optgroup[label="'+item+'"]').html();
      if (options.length) {
        $('#verificate_id').html(options);
        $("#verificate_id").trigger("change");
      }
      else {
        $('#verificate_id').empty();
      }
    }

  });