- wizard = Wizard.by_name_and_controller(wizard_name, controller_name, action_name)
%ul
  - wizard.steps.each_with_index do |step, i|
    %li
      = "title: #{wizard.title_symbol(step)}"
      - if i == wizard.current_step
        %p= "text: #{wizard.text_symbol(step)}"

%hr
= link_to "previous_step", wizard_url(wizard.previous_step)
= link_to "next_step", wizard_url(wizard.next_step)

