= simple_form_for(@production, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  = f.input :description
  = f.association :our_reference
  = f.association :warehouse

  - if @production.product.nil?
    .form-group
      .col-sm-3.col-md-2.col-lg-3.control-label
        = f.label :product
      .col-sm-8.control-label{:style => 'text-align:left'}
        - set_product_url = new_product_path({class:@production.class.name, object:@production.id})
        = link_to plus_icon, set_product_url
  - else 
    = f.association :product, disabled: true

  = f.input :quantity
  = f.input :cost_price
  %hr
  - if @materials_size == 0
    .form-group
      .col-sm-3.col-md-2.col-lg-3.control-label
        = f.label :materials
      .col-sm-8.control-label{:style => 'text-align:left'}
        - add_material_url = new_production_material_path(@production)
        = link_to plus_icon, add_material_url 
  - else
    = f.simple_fields_for :materials do |ff|
      .form-group
        .col-sm-3.col-md-2.col-lg-3.control-label  
          = f.label :materials
        .col-sm-7
          = ff.association :product, disabled: true, :label=> false, :class=>'input-group'
        .col-sm-2
          = link_to settings_icon, production_material_path(@production, ff.object.id)
          = link_to delete_icon, production_material_path(@production, ff.object.id), :confirm => "Are you sure you want to delete this attachment?", :method => :delete


  - if  @costitems_size == 0
    .form-group
      .col-sm-3.col-md-2.col-lg-3.control-label
        = f.label :costitems
      .col-sm-8.control-label{:style => 'text-align:left'}
        - add_costitem_url = new_costitem_path({parent_id: @production.id, parent_type: @production.class.name})
        = link_to plus_icon, add_costitem_url
  - else
    = f.simple_fields_for :costitems do |ff|
      .form-group
        .col-sm-3.col-md-2.col-lg-3.control-label  
          = f.label :costitems      
        .col-sm-7
          = ff.input :description, disabled: true, :label=> false, :class=>'input-group'
        .col-sm-2
          = link_to settings_icon, costitem_path(ff.object.id)
          = link_to delete_icon, costitem_path(ff.object.id), :confirm => "Are you sure you want to delete this attachment?", :method => :delete

  = f.submit class: 'btn btn-primary'
  = link_to 'Back', productions_path, class: 'btn btn-primary'