%div{:ng_controller => "ModalDemoCtrl"}
  = simple_form_for(@production, wrapper: :horizontal_form, html: {class: 'form-horizontal', }) do |f|
    = f.error_notification

    = f.input :description
    = f.association :our_reference
    = f.association :warehouse,  disabled: !@production.new_record?

    - if !@production.new_record?
      - if @production.product.nil?
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :product
          %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
            .input-group-addon
              - set_product_url = new_product_path({class:@production.class.name, object:@production.id})
              = link_to plus_icon, set_product_url
            %input{:class=>'form-control', :readonly=>'readonly'}
      - else 
        = f.association :product, disabled: true
        = f.input :quantity

      - if @materials_size == 0
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :materials
          %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
            .input-group-addon    
              - add_material_url = new_production_material_path(@production)
              = link_to plus_icon, add_material_url
            %input{:class=>'form-control', :readonly=>'readonly'}
      - else
        = f.simple_fields_for :materials do |ff|
          .form-group
            .col-sm-3.col-md-2.control-label
              = f.label :materials
            %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
              %input{:value => ff.object.product.name, :readonly=>'readonly', :class=>'form-control input-group'}
              .input-group-addon
                = link_to settings_icon, production_material_path(@production, ff.object.id)
              .input-group-addon  
                = link_to delete_icon, production_material_path(@production, ff.object.id), :confirm => "Are you sure you want to delete this attachment?", :method => :delete

      - if  @production.work.nil?
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :work
          %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
            .input-group-addon
              - add_single_purchase_url = new_purchase_path({parent_id: @production.id, parent_type: @production.class.name, form: 'single_purchase'})
              = link_to plus_icon, add_single_purchase_url
            %input{:class=>'form-control', :readonly=>'readonly'}
      - else
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :work
          %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
            %input{:value => f.object.work.description, :readonly=>'readonly', :class=>'form-control'}
              .input-group-addon
                = link_to settings_icon, purchase_path(f.object.work.id)
              .input-group-addon  
                = link_to delete_icon, purchase_path(f.object.work.id), :confirm => "Are you sure you?", :method => :delete
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :money_state
          %div{:class=> 'col-sm-9 col-md-10 input-group', :style=>'padding-left:15px; padding-right:15px'}
            %input{:value => f.object.work.money_state, :readonly=>'readonly', :class=>'form-control'}
            - if !@production.is_completed? && f.object.work.money_state != 'paid'
              %span{:class=>"input-group-btn"}
                %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','workContent' )"}
                  %span{ :class => "glyphicon glyphicon-flag"} 
                    Pay

    .input-group
      = f.submit class: 'btn btn-primary'
      - if @production.can_edit_state?
        %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','productionContent' )"}
          %span{ :class => "glyphicon glyphicon-flag"} 
            = f.object.next_step   
      = link_to 'Back', productions_path, class: 'btn btn-primary'
 
  - unless  @production.new_record? || @production.is_completed?
    = render partial: 'shared/sc', locals: {idx: 'productionContent', model: @production, form_path: state_change_production_path(@production.id), next_step: @production.next_step}   
  - if  !@production.work.nil?
    = render partial: 'shared/sc', locals: {idx: 'workContent', model: @production.work, form_path: state_change_purchase_path(@production.work), next_step: 'pay'}