%div{:ng_controller => "ModalCtrl"}
  - next_step = "No step"
  = simple_form_for(@production, wrapper: :horizontal_form, html: {class: 'form-horizontal', }) do |f|
    = f.error_notification

    = f.input :description
    = f.association :our_reference
    = f.association :warehouse,  disabled: !@production.new_record?

    - if !@production.new_record?

      - if @production.product.nil?
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :product
          .col-sm-9.col-md-10
            .input-group
              .input-group-addon
                - set_product_url = new_product_path({class:@production.class.name, object:@production.id})
                = link_to plus_icon, set_product_url
              %input{:class=>'form-control', :readonly=>'readonly'}
      - else
        = f.association :product, disabled: true

        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :quantity
          .col-sm-9.col-md-10.form-inline  
            = f.input :quantity, :label=>false, disabled: !@production.can_edit?
 
      - if @production.materials.size == 0
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :materials
          .col-sm-9.col-md-10
            .input-group  
              .input-group-addon
                - add_material_url = new_production_material_path(@production)
                = link_to plus_icon, add_material_url
              %input{:class=>'form-control', :readonly=>'readonly'}
      - else
        = f.simple_fields_for :materials do |ff|
          .form-group
            .col-sm-3.col-md-2.control-label
              = ff.label :materials
            .col-sm-9.col-md-10
              .input-group
                %input{:value => ff.object.product.name, :readonly=>'readonly', :class=>'form-control'}
                - if @production.can_edit?
                  .input-group-addon
                    = link_to settings_icon, production_material_path(@production, ff.object.id)
                  .input-group-addon
                    = link_to delete_icon, production_material_path(@production, ff.object.id), :confirm => "Are you sure you want to delete this attachment?", :method => :delete
                - else
                  .input-group-addon

      - if  @production.work.nil?
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :work
          .col-sm-9.col-md-10
            .input-group  
              .input-group-addon  
                - add_single_purchase_url = new_purchase_path({parent_id: @production.id, parent_type: @production.class.name, form: 'single_purchase'})
                = link_to plus_icon, add_single_purchase_url
              %input{:class=>'form-control', :readonly=>'readonly'}
      - else
        .form-group
          .col-sm-3.col-md-2.control-label
            = f.label :work
          .col-sm-9.col-md-10
            .input-group  
              %input{:value => f.object.work.description, :readonly=>'readonly', :class=>'form-control'}
              -if @production.can_edit?
                .input-group-addon
                  = link_to settings_icon, purchase_path(f.object.work.id)
                .input-group-addon  
                  = link_to delete_icon, purchase_path(f.object.work.id), :confirm => "Are you sure you?", :method => :delete
              - else
                .input-group-addon

      - if @production.is_started? || @production.is_completed?
        = f.simple_fields_for :work do |w|
          - if @production.work.is_paid? || w.object.is_completed?
            = w.input :paid_at, :as => :string
          - if !@production.work.is_paid? 
            .form-group
              .col-sm-3.col-md-2.control-label
                %label Work state
              .col-sm-9.col-md-10
                .input-group
                - if f.object.work.money_state != 'paid'
                  %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','workPayContent' )"}
                    = status_icon
                    = t(:pay)

    .input-group
      = f.submit class: 'btn btn-primary'
      - if (@production.can_edit_state? && !@production.is_started?) || (@production.is_started? && @production.can_complete?)
        %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','productionContent' )"}
          %span{ :class => "glyphicon glyphicon-flag"}
          = f.object.next_event
      = link_to 'Back', productions_path, class: 'btn btn-primary'
 
  - unless  @production.new_record? || @production.is_completed?
    = render partial: 'shared/modal_state_change', locals: {idx: 'productionContent', model: @production, form_path: state_change_production_path(@production.id), event: @production.next_event, return_path: edit_production_path(@production)}   
  - if  !@production.work.nil?
    = render partial: 'shared/modal_state_change', locals: {idx: 'workPayContent', model: @production.work, form_path: state_change_purchase_path(@production.work), event: 'pay', return_path: edit_production_path(@production)}
