%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#production-form", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
.tab-content
  #production-form.tab-pane.active
    %br
    = render partial: 'form'
    = render partial: 'material'
    = render partial: 'work'
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @production.comments, parent: @production}