.container.row
  = link_to 'Create Production', new_production_path, class: 'btn btn-primary'
%br
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:description)
      %th= t(:started_at)
      %th= t(:completed_at)
      %th= t(:product)
      %th= t(:quantity)
      %th= t(:state)
      %th
      %th
    %tbody
      - @productions.each do |production|
        %tr
          %td= production.description
          %td= production.started_at.nil? ? ' ': production.started_at.strftime("%Y-%m-%d") 
          %td= production.completed_at.nil? ? ' ': production.completed_at.strftime("%Y-%m-%d") 
          %td= production.product.nil? ? ' ': production.product.name
          %td= production.quantity
          %td
            - production.states.each do |s|
              = s
          %td= link_to settings_icon, edit_production_path(production) 
          %td= delete_button_for production
