.container.row
  = link_to "#{t(:create)} #{t(:production)}", new_production_path, class: 'btn btn-default'
  %select{id: 'selp', class: 'btn btn-default', onchange: 'location = this.options[this.selectedIndex].value;'}
    %option{value: productions_path} #{t(:all)}
    %option{value: productions_path + '?state=not_started'} #{t(:not_started)}
    %option{value: productions_path + '?state=started'} #{t(:processing)}
%br
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:description)
      %th= t(:started_at)
      %th= t(:completed_at)
      %th= t(:batch)
      %th= t(:quantity)
      %th= t(:state)
      %th
      %th
    %tbody
      - @productions.each do |production|
        %tr
          %td= production.description
          %td= production.started_at.nil? ? ' ': production.started_at.strftime("%Y-%m-%d") 
          %td= production.completed_at.nil? ? ' ': production.completed_at.strftime("%Y-%m-%d")
          %td= production.batch.nil? ? ' ': production.batch.name
          %td= production.quantity
          %td
            - production.states.each do |s|
              = s
          %td= link_to settings_icon, edit_production_path(production) 
          %td= delete_button_for production

= paginate @productions, :theme => 'twitter-bootstrap-3'

:javascript
  $(document).ready(function() {
    var path = document.location.pathname + document.location.search
    $('#selp').val(path);
  });