.input-group.full-width
  = link_to "#{t(:create)} #{t(:default_code)}", new_default_code_path, class: 'btn btn-success'
  = link_to "#{t(:import)} #{t(:default_codes)}", default_code_order_import_path, class: 'btn btn-default'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th.numeric= t(:code)
        %th= t(:text)
        %th= t(:accounts)
        %th
    %tbody{}
      - @default_codes.each do |default_code|
        %tr
          %td.numeric= default_code.code
          %td= default_code.text
          %td= link_to link_icon, default_code_path(default_code)
          %td= link_to settings_icon, edit_default_code_path(default_code)
          %td= delete_modal_for default_code

  = paginate @default_codes, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
  - if @trans.complete == false
    = render partial: 'shared/modal_refresh', locals:{idx: 'refresh_id', back: default_code_order_import_path, path: default_codes_path}
