.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:accounting_plan)
        %th= t(:account)
        %th= t(:description)
    %tbody{}
      - @connections.each do |connection|
        %tr
          %td= connection.accounting_plan.name
          %td= connection.number
          %td= connection.description

  = paginate @connections, :theme => 'twitter-bootstrap-3'
