- @accounting_groups = @accounting_plan.accounting_groups.order('number').page(params[:page_group])
.btn-group
  = link_to "#{t(:create)} #{t(:accounting_group)}", new_accounting_plan_accounting_group_path(accounting_plan), class: 'btn btn-success'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:number_the_string)
        %th= t(:name)
        %th
        %th
    %tbody{}
      - @accounting_groups.each do |accounting_group|
        %tr
          %td= accounting_group.number
          %td= accounting_group.name
          %td.numeric= link_to settings_icon, edit_accounting_plan_accounting_group_path(@accounting_plan, accounting_group)
          %td.numeric= delete_modal_for accounting_group, accounting_plan_accounting_group_path(@accounting_plan, accounting_group)

  = paginate @accounting_groups, param_name: "page_group", theme: 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
