%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:description)
      %th= t(:supplier)
      %th= t(:product)
      %th= t(:quantity)
      %th= t(:total_amount)
      %th= t(:state) 
      %th
      %th
    %tbody
      - @costitems.each do |costitem|
        %tr
          %td= costitem.description
          %td= link_to costitem.supplier.name, costitem.supplier
          %td= link_to costitem.product.name, costitem.product
          %td= costitem.quantity
          %td= costitem.total_amount
          %td
            - costitem.states.each do |s|
              = s
          %td= link_to settings_icon, costitem
          %td= delete_button_for costitem