- if @shipping.nil?
  = simple_form_for(@import, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |y|
    - add_single_purchase_url = new_purchase_import_path(@import, :parent_column => 'shipping')
    = render partial: 'shared/addon_plus_link', locals: {form: y, label: :shipping, link: add_single_purchase_url}

- if !@shipping.nil?

  %div{:ng_controller => "ModalCtrl"}
    = simple_form_for(@shipping, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
      = f.error_notification

      = render partial: 'shared/addon_edit_link', locals: {form: f, label: :shipping, value: f.object.description, can_edit:  @import.can_edit_items?, link: purchase_path(@shipping)}

      .form-group
        .col-sm-3.col-md-2.control-label
          = f.label :state
        .col-sm-9.col-md-10
          - if @import.can_edit_items?
            = f.input :state, label: false, disabled: true, :input_html => {:class => 'medium'}
          - if  !@import.can_edit_items? && f.object.can_edit_items?
            %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','shippingContent' )"}
              = status_icon
              = t(:start)

          - if  !@import.can_edit_items? && !f.object.can_edit_items? && !f.object.is_received?
            %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','shippingGoodsContent' )"}
              = status_icon
              = t(:receive)     

          - if  !@import.can_edit_items? && !f.object.can_edit_items? && !f.object.is_paid?
            %button{:class=>"btn btn-primary", :ng_click=>"open($event, 'sm','shippingPayContent' )"}
              = status_icon
              = t(:pay)
          - if f.object.is_completed?
            = f.input :state, label: false, disabled: true, :input_html => {:class => 'medium'}
    %hr 
    = render partial: 'shared/modal_state_change', locals: {idx: 'shippingContent', model: @shipping, form_path: state_change_purchase_path(@shipping), event: 'mark_item_complete', return_path: edit_import_path(@import)}
    = render partial: 'shared/modal_state_change', locals: {idx: 'shippingGoodsContent', model: @shipping, form_path: state_change_purchase_path(@shipping), event: 'receive', return_path: edit_import_path(@import)}
    = render partial: 'shared/modal_state_change', locals: {idx: 'shippingPayContent', model: @shipping, form_path: state_change_purchase_path(@shipping), event: 'pay', return_path: edit_import_path(@import)}