%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#import-form", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
.tab-content
  #import-form.tab-pane.active
    %br
    = render  'form'
    - if !@import.new_record?
      = render  'importing'
      = render  'shipping'
      = render  'customs' 
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @import.comments, parent: @import}