.container.row
  = link_to 'Create Import', new_import_path, class: 'btn btn-primary'
%br
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:description)
      %th= t(:started_at)
      %th{:style => "text-align:right"}
        = t(:sum)
      %th= t(:state)
      %th
      %th
    %tbody
      - @imports.each do |import|
        %tr
          %td= import.description
          %td= import.started_at.nil? ? ' ': import.started_at.strftime("%Y-%d-%m") 
          %td{:style => "text-align:right"}
            = import.id
          %td
            - import.states.each do |s|
              = s
          %td= link_to settings_icon, edit_import_path(import) 
          %td= delete_button_for import
