= simple_form_for(@purchase, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: create_pruchase_import_path(@import)) do |f|
  = f.error_notification

  = f.input :parent_type, :as => :hidden
  = f.input :parent_id, :as => :hidden
  %input{:name=>'parent_column', :value=>@parent_column, :type=>'hidden' }

  = f.input :description
  = f.association :supplier
  = f.input :contact_name
  = f.input :contact_email
  = f.association :to_warehouse
  = f.simple_fields_for(:purchase_items) do |ff|

    = ff.association :item,
      collection: @item_selections,
      include_blank: false

    - if @parent_column == 'importing'
      = ff.association :batch,
        collection: @batch_selections,
        include_blank: false

    = ff.input :quantity
    = ff.input :price

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'