%div{:ng_controller => "contact_relations_form_ctrl", :ng_init => 'init()'}
  = @contact_relation.errors.full_messages.first if @contact_relation.errors.any?
  = simple_form_for(@contact, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: @contact_relation_form_url) do |f|
    = f.error_notification
    - if @new
      .form-group
        %label{:class => 'labels_width control-label'}
          = t(:email_search)
        .fields_width
          %input{:id => 'search', :name => 'search', :autocomplete=>'off',  :ng_model=>"selected", :typeahead_on_select => "type_ahead_contact($item, $model, $label)", :typeahead=>"c.email for c in contacts | filter:$viewValue | limitTo:8", :class=>"form-control"}

    = f.input :id, as: :hidden
    = f.input :name
    - if local_assigns.has_key? :email
      = f.input :email, :input_html => {:value => email}, :readonly => true
    - else
      = f.input :email
    = f.input :telephone, :input_html => {:class => 'medium'}
    = f.input :address
    = f.input :zip, :input_html => {:class => 'short'}
    = f.input :city
    = f.input :country, :input_html => {:class => 'medium'}
    = f.input :comment, as: :text
  
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'
