= simple_form_for(@customer) do |f|
  = f.error_notification

  = f.input :name, required: true, autofocus: true
  = f.input :reseller, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes
  = f.input :vat_number
  = f.input :address
  = f.input :zip
  = f.input :city

  = f.submit class: 'btn btn-primary'
