.container-fluid.well
  .btn.btn-group.col-sm-offset-2.col-sm-12
    = link_to "#{t(:create)} #{t(:customer)}", new_customer_path, class: 'btn btn-primary'
    .input-group.col-sm-2
      %input{:class=> 'form-control', :placeholder=>'Search', :ng_model=>'searchname'}
      .input-group-addon
        %a{:href => name_search_customers_path + "?name={{searchname}}"}
          %i{ :class=>"glyphicon glyphicon-search search_icon"}

  .panel.panel-default.col-sm-offset-2.col-sm-8
    %i
      %h3
        Customer list
    .panel-body
      %table{:class => 'table table-striped'}
        %thead
          %tr
            %th= t(:customer)
            %th= t(:city)
            %th
            %th
        %tbody{}
          - @customers.each do |customer|
            %tr
              %td= link_to customer.name, customer
              %td= customer.city
              %td= link_to settings_icon, edit_customer_path(customer)
              %td= link_to delete_icon, customer, method: :delete, data: { confirm: 'Are you Sure?' }

    = paginate @customers, :theme => 'twitter-bootstrap-3'