.row
  .col-sm-8.col-md-5.pull-left
    = link_to "#{t(:create)} #{t(:customer)}", new_customer_path, class: 'btn btn-success'

  .col-sm-40.col-md-40.pull-right.text-right
    = form_tag customers_path, class: 'form-inline submit-on-change', method: :get, enforce_utf8: false do
      = text_field_tag('locale' , params[:locale], type:'hidden')
      .input-group
        = text_field_tag('q',
          params[:q],
          placeholder: t(:search),
          class: 'form-control')
        .input-group-btn
          = button_tag(search_icon, class: 'btn btn-default')

  .clear &nbsp;
.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:customer)
        %th= t(:address)
        %th= t(:zip)
        %th= t(:city)
        %th
        %th
    %tbody
      - @customers.each do |customer|
        %tr
          %td= link_to customer.name, customer
          %td= customer.address
          %td= customer.zip
          %td= customer.city
          %td= link_to settings_icon, customer_path(customer)
          %td= delete_modal customer, nil, '#mdId'

  = paginate @customers, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}