.btn-group
  = link_to "#{t(:create)} #{t(:stock_value)}", new_stock_value_path, class: 'btn btn-success'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:value_date)
        %th.numeric= t(:value)
        %th
        %th
        %th
    %tbody{}
      - @stock_values.each do |stock_value|
        %tr
          %td= stock_value.name
          %td= stock_value.value_date
          %td.numeric= stock_value.value
          %td= report_button_for stock_value_stock_value_items_path(stock_value)
          %td.numeric= link_to settings_icon, edit_stock_value_path(stock_value)
          %td.numeric= delete_modal_for stock_value

  = paginate @stock_values, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
