%div{ng_controller: 'accounting_plan_form_ctrl' }
  = simple_form_for(@file_importer, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: accounting_plan_import_path) do |f|
    = f.error_notification

    .form-group.form-inline
      .labels_width.control-label
        = f.label :file
      .fields_width
        = f.input :file, label: false, as: :select, collection: @files, include_blank: false
        = info_modal_for('accounting_plan_file')

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary', disabled: @files.size == 0

    = render partial: 'shared/modal_info', locals: {idx: 'infoContent'}
    = render partial: 'info'
