= simple_form_for(@contact, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: @contact_form_url) do |f|
  = f.error_notification

  = f.input :name
  = f.input :email
  = f.input :telephone
  = f.input :address
  = f.input :zip
  = f.input :city
  = f.input :country

  = form_submit(f)
