// Beware, here be logic!
.container.row
  %br
  - add_contact_url = new_contact_path({parent_id: parent.id, parent_type: parent.class.name})
  = link_to t(:add_contact), add_contact_url, class: 'btn btn-default'
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th= t(:email)
        %th= t(:telephone)
        %th
      %tbody
        - contacts.each do |contact|
          %tr
            %td= contact.name
            %td= contact.email
            %td= contact.telephone
            %td= link_to settings_icon, contact_path(contact)
            %td= delete_button_for contact
