%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:product)
      %th= t(:quantity)
      %th= t(:price)
      %th= t(:price_inc_vat)
      %th= t(:price_sum)
      %th
    %tbody
      - sale_items.each do |item|
        - item = item.decorate
        %tr
          %td= item.product_name
          %td= item.quantity
          %td= as_sek(item.price)
          %td= as_sek(item.price_inc_vat)
          %td= as_sek(item.price_sum)
          %td= delete_button_for item, sale_sale_item_path(@sale, item)
