%div{ng_controller: 'sale_items_new_ctrl', ng_init: 'init()'}
  = simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.association :warehouse,  collection: @warehouses, disabled: true
    = f.association :customer, disabled: true
    = f.simple_fields_for :customer, @sale.customer do |q|
      = q.input :reseller, label: "Reseller", disabled: true
  = render 'form'
