= simple_form_for(@wage_period, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :accounting_period, as: :hidden
  .form-group
    .labels_width.control-label
      = f.label :accounting_period
    .fields_width
      %input{id: 'show', type: 'text', class: 'form-control', value: f.object.accounting_period.name, disabled: true}

  = f.input :name, disabled: !@wage_period.new_record?

  .form-group.form-inline
    .labels_width.control-label
      = f.label :wage_from
    .fields_width
      = f.date_field :wage_from
      = f.error :wage_from

  .form-group.form-inline
    .labels_width.control-label
      = f.label :wage_to
    .fields_width
      = f.date_field :wage_to
      = f.error :wage_to

  .form-group.form-inline
    .labels_width.control-label
      = f.label :payment_date
    .fields_width
      = f.date_field :payment_date
      = f.error :payment_date

  .form-group.form-inline
    .labels_width.control-label
      = f.label :deadline
    .fields_width
      = f.date_field :deadline
      = f.error :deadline

  = f.association :supplier, collection: @suppliers, label: "#{t(:report_to)}", disabled: !@wage_period.new_record? && !@wage_period.preliminary?
  = f.input :state, disabled: true

  .form-button-group
    .actions
      - if @wage_period.new_record? || @wage_period.can_calculate_wage?
        = f.submit class: 'btn btn-primary'
      - if !@wage_period.new_record? && @wage_period.can_calculate_wage?
        - url = state_change_wage_period_path + '&event=mark_wage_calculated'
        = link_to "#{t(:create)} #{t(:wage)}", url, method: 'post', class: 'btn btn-primary'
      - if !@wage_period.new_record? && @wage_period.can_calculate_tax?
        - url = state_change_wage_period_path + '&event=mark_tax_calculated'
        = link_to "#{t(:create)} #{t(:wage)} #{t(:report)}", url, method: 'post', class: 'btn btn-primary'
      - if false
        - url = state_change_wage_period_path + '&event=mark_wage_closed'
        = link_to "#{t(:state_change)}", url, method: 'post', class: 'btn btn-success'
