.btn-group
  = link_to "#{t(:create)} #{t(:wage_period)}", new_wage_period_path, class: 'btn btn-success'

.col-sm-40.col-md-40.pull-right.text-right
  = form_tag wage_periods_path, class: 'form-inline submit-on-change', method: :get do
    = select_tag(:accounting_period_id,
      options_for_select(@accounting_periods.each.collect{|w| [w.name, w.id]}, @period),
      class: 'btn btn-default')
.clear &nbsp;

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th.numeric= t(:from)
        %th.numeric= t(:to)
        %th.numeric= t(:deadline)
        %th= t(:state)
        %th
        %th
        %th
        %th
    %tbody{}
      - @wage_periods.each do |wage_period|
        %tr
          %td= wage_period.name
          %td.numeric= wage_period.wage_from
          %td.numeric= wage_period.wage_to
          %td.numeric= wage_period.deadline
          %th= wage_period.state
          - if wage_period.show_wage?
            %td= agreement_button_for wage_period_wages_path(wage_period)
          - else
            %td
          - if wage_period.show_tax?
            %td= report_button_for wage_period_wage_reports_path(wage_period)
          - else
            %td
          %td.numeric= link_to settings_icon, edit_wage_period_path(wage_period)
          %td.numeric= delete_modal_for wage_period

  = paginate @wage_periods, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
