= simple_form_for(@vat_period, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :accounting_period, collection: @accounting_periods, include_blank: false
  = f.input :name

  .form-group.form-inline
    .labels_width.control-label
      = f.label :vat_from
    .fields_width
      = f.date_field :vat_from
      = f.error :vat_from

  .form-group.form-inline
    .labels_width.control-label
      = f.label :vat_to
    .fields_width
      = f.date_field :vat_to
      = f.error :vat_to

  .form-group.form-inline
    .labels_width.control-label
      = f.label :deadline
    .fields_width
      = f.date_field :deadline
      = f.error :deadline

  - if !@vat_period.calculated?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'
        - if !@vat_period.new_record? && @vat_period.can_calculate?
          = link_to t(:calculate), vat_calculation_vat_period_path(@vat_period), class: 'btn btn-primary'
          = link_to t(:create_vat_bases), vat_report_create_vat_period_path(@vat_period), method: 'post', class: 'btn btn-primary'

- if @vat_period.calculated?
  .form-button-group
    .actions
      = link_to t(:calculate), vat_calculation_vat_period_path(@vat_period), class: 'btn btn-primary'
      = form_tag vat_reporting_vat_period_path(@vat_period), class: 'form-inline', method: :post do
        = hidden_field_tag 'event', 'mark_calculated'
        = submit_tag t(:report), class: 'btn btn-primary'