= simple_form_for(@manual, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :warehouse_id, as: :select, collection: Warehouse.all, disabled: !@manual.new_record?
  = f.input :product_id, as: :select, collection: Product.all, disabled: !@manual.new_record?
  = f.input :quantity, disabled: !@manual.new_record?, :input_html => {:class => 'numeric'}
  - if @manual.new_record?
    = f.simple_fields_for :comments do |c|
      = c.input :body, as: :text
    = f.submit class: 'btn btn-primary'
  = link_to 'Back', manuals_path, class: 'btn btn-primary'
