= simple_form_for(@manual) do |f|
  = f.error_notification
  = f.input :product
  
  = simple_fields_for(@manual.product_transaction) do |tf|
    = tf.error_notification
    = tf.input :quantity
    = tf.association :product
    = tf.association :warehouse
  = simple_fields_for :comments do |c|
    = c.input :body, as: :text, label: t(:comment)

  = form_submit(f)
