= link_to "#{t(:create)} #{t(:manual_transaction)}", new_manual_path, class: 'btn btn-primary'

%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:manual_transactions)
      %th= t(:warehouse)
      %th= t(:product)
      %th= t(:quantity)
      %th
      %th
    %tbody
      - @manuals.each do |manual|
        %tr
          %td= manual.created_at
          %td= link_to(manual.warehouse.name, edit_warehouse_path(manual.warehouse))
          %td= link_to(manual.product.name, edit_product_path(manual.product))
          %td= manual.product_transaction.quantity
          %td= link_to settings_icon, edit_manual_path(manual)
          %td= delete_button_for manual

= paginate @manuals, :theme => 'twitter-bootstrap-3'