%h2= @manual.created_at
%h3= @manual.product.name
%h3= @manual.warehouse.name
%h3= @manual.transaction.quantity

- @manual.comments.each do |comment|
  .comment
    %h4
      = comment.created_at
      %small=comment.user.email
    .comment-body
      = comment.body
= link_to 'Back', manuals_path
