%p
  %h4
    = t(:ink_code_file)
%p
  %b
    = t(:ink2)
  %br
  = t(:ink2_info)
  %a{ href: 'https://www.skatteverket.se/foretagorganisationer/sjalvservice/allaetjanster/tjanster/inkomstdeklaration2.4.58a1634211f85df4dce800012276.html', target: '_blank'}  skatteverket.se
%p
  %b
    = t(:ink3)
  %br
  = t(:ink3_info)
  %a{ href: 'http://www.skatteverket.se/foretagorganisationer/sjalvservice/blanketterbroschyrer/blanketter/info/2003.4.39f16f103821c58f680006196.html', target: '_blank'}  skatteverket.se
%p
  %b
    = t(:ink4)
  %br
  = t(:ink4_info)
  %a{ href: 'http://www.skatteverket.se/foretagorganisationer/sjalvservice/blanketterbroschyrer/blanketter/info/2004.4.39f16f103821c58f680006200.html', target: '_blank'}  skatteverket.se
%p
  = t(:more_info)
  %a{ href: 'https://www.bas.se/kontoplaner/sru/', target: '_blank'}  bas.se
