= simple_form_for(@organization, url: admin_organizations_path, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :email
  = f.input :name
  = f.input :address
  = f.input :zip
  = f.input :city
  = f.input :vat_number
  = f.input :bankgiro
  = f.input :postgiro
  = f.input :plusgiro

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'
      - unless @organization.new_record?
        = link_to "#{t(:create)} #{t(:new)} #{t(:user)}", new_admin_user_path
