%div{ :ng_controller => 'production_batch_ctrl', :ng_init => 'init()'}
  = simple_form_for([@production, @production_batch], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    = f.input :item_id, collection: @items, :input_html => {:ng_model => 'item_id', :ng_change => 'select_item(true)'}
    = f.input :name, :label => t(:name_of_new_batch)
    = f.input :comment, as: :text

    = f.input :in_price, as: :hidden
    .form-group
      .labels_width.control-label
        = f.label :in_price
      .fields_width
        %input{id: 'in_price_edit', type: 'number', class: 'form-control numeric', value: 0}

    = f.input :distributor_price, as: :hidden
    .form-group
      .labels_width.control-label
        = f.label :distributor_price
      .fields_width
        %input{id: 'distributor_price_edit', type: 'number', ng_Blur: 'calc_distributor()', class: 'form-control numeric', value: 0}
    = f.input :distributor_inc_vat, input_html: {class: 'numeric', disabled: true}

    = f.input :retail_price, as: :hidden
    .form-group
      .labels_width.control-label
        = f.label :retail_price
      .fields_width
        %input{id: 'retail_price_edit', type: 'number', ng_Blur: 'calc_retail()', class: 'form-control numeric', value: 0}
    = f.input :retail_inc_vat, input_html: {class: 'numeric', disabled: true}

    .form-group.form-inline
      .labels_width.control-label
        = f.label :quantity
      .fields_width
        = f.input :quantity, as: :integer, label: false
        = info_modal_for('quantity')

    = f.input :unit, disabled: true, input_html: {class: 'medium'}
    = render partial: 'shared/date_field', locals: {form: f, field: :refined_at, in_id: 'in_refined_at', in_value: @production_batch.refined_at, out_id: 'production_batch[refined_at]', field_id: 're_short_date',  model: 're_date', dp_open: 're_open', dp_options: 're_options', dp_click: 'open_re_date($event)'}
    = render partial: 'shared/date_field', locals: {form: f, field: :expire_at, in_id: 'in_expire_at', in_value: @production_batch.expire_at, out_id: 'production_batch[expire_at]', field_id: 'ex_short_date',  model: 'ex_date', dp_open: 'ex_open', dp_options: 'ex_options', dp_click: 'open_ex_date($event)'}

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary', ng_click: 'before_submit()'

  = render partial: 'shared/modal_info', locals: {idx: 'infoContent'}
  = render partial: 'info'