%div{ :ng_controller => 'import_batch_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@import_batch, wrapper: :horizontal_form, html: {class: 'form-horizontal', autocomplete: 'off'}) do |f|
    = f.error_notification
    = f.input :import_id, as: :hidden
    %input{:name => 'import_id', :value => @import.id, :hidden => true}

    = f.input :description, as: :hidden
    = f.input :supplier, collection: @suppliers, :input_html => {:ng_model=>'supplier', :ng_change=>'select_supplier()'}
    = f.input :contact_name
    = f.input :contact_email
    = f.input :item_id, collection: @items, :input_html => {:ng_model => 'item_id', :ng_change => 'select_item(true)'}
    = f.input :name, :label => t(:name_of_new_batch)
    = f.input :quantity, as: :integer
    = f.input :price, as: :integer

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary', ng_click: 'before_submit()'