= link_to 'Create Item', new_item_path, class: 'btn btn-primary'

%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Name
      %th Reseller
      %th End customer
      %th
      %th
    %tbody
    - @items.each do |item|
      %tr
        %td= item.name 
        %td #{item.distributor_price} (ex vat)
        %td #{item.retail_price} (ink vat)
        %td= link_to settings_icon, edit_item_path(item) 
        %td= delete_button_for item

= paginate @items, :theme => 'twitter-bootstrap-3'