%div{ :ng_controller => 'batch_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@batch, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification


    %input{:type => 'hidden', :name => 'class',  :value => params['class']}
    %input{:type => 'hidden', :name => 'object', :value => params['object']}
    %input{:type => 'hidden', :id => :batch_item_id, :value => @batch.item_id}

    - if @batch.new_record?
      = f.association :item, collection: @items, :input_html => {:ng_model => 'item_id', :ng_change => 'select_item(true)'}
    - else
      = render partial: 'shared/addon_show_link', locals: {form: f, label: :item, value: f.object.item.name, link: item_path(f.object.item_id)}


    = f.input :name, hint: (@production) ? link_to("#{t(:roasting)}", edit_production_path(@production.id)) : ''
    = f.input :comment
    - if !@batch.new_record?
      = f.input :vat, disabled: true, as: :string, input_html: {value: ((@batch.item) ? @batch.vat : '')}
      = f.input :unit, disabled: true, input_html: {value: ((@batch.item) ? @batch.item.unit.name : '')}
    = f.input :in_price, as: :hidden
    .form-group
      .labels_width.control-label
        = f.label :in_price
      .fields_width
        %input{id: 'in_price_edit', type: 'number', class: 'form-control numeric', value: 0}

    %div{:ng_hide => 'sales'}
      = f.input :distributor_price, as: :hidden
      .form-group
        .labels_width.control-label
          = f.label :distributor_price
        .fields_width
          %input{id: 'distributor_price_edit', type: 'number', ng_Blur: 'calc_distributor()', class: 'form-control numeric', value: 0}
      - if !@batch.new_record?
        = f.input :distributor_inc_vat, input_html: {class: 'numeric', disabled: true}

      = f.input :retail_price, as: :hidden
      .form-group
        .labels_width.control-label
          = f.label :retail_price
        .fields_width
          %input{id: 'retail_price_edit', type: 'number', ng_Blur: 'calc_retail()', class: 'form-control numeric', value: 0}
      - if !@batch.new_record?
        = f.input :retail_inc_vat, input_html: {class: 'numeric', disabled: true}

    %div{:ng_hide => 'refined'}
      = render partial: 'shared/date_field', locals: {form: f, field: :refined_at, in_id: 'in_refined_at', in_value: @batch.refined_at, out_id: 'batch[refined_at]', field_id: 're_short_date',  model: 're_date', dp_open: 're_open', dp_options: 're_options', dp_click: 'open_re_date($event)'}
      = render partial: 'shared/date_field', locals: {form: f, field: :expire_at, in_id: 'in_expire_at', in_value: @batch.expire_at, out_id: 'batch[expire_at]', field_id: 'ex_short_date',  model: 'ex_date', dp_open: 'ex_open', dp_options: 'ex_options', dp_click: 'open_ex_date($event)'}

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary', ng_click: 'before_submit()'
