%div{ :ng_controller => 'batch_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@batch, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    %input{:type => 'hidden', :name => 'class',  :value => params['class']}
    %input{:type => 'hidden', :name => 'object', :value => params['object']}

    = f.association :item, collection: @items, disabled: !@batch.new_record?, :input_html => {:ng_model => 'item_id', :ng_change => 'select_item(true)'}

    = f.input :name
    = f.input :comment
    = f.input :in_price
    %div{:ng_hide => 'sales'}
      = f.input :distributor_price
      = f.input :retail_price

    %div{:ng_hide => 'refined'}
      = render partial: 'shared/date_field', locals: {form: f, field: :refined_at, in_id: 'in_refined_at', in_value: @batch.refined_at, out_id: 'batch[refined_at]', field_id: 're_short_date',  model: 're_date', dp_open: 're_open', dp_options: 're_options', dp_click: 'open_re_date($event)'}
      = render partial: 'shared/date_field', locals: {form: f, field: :expire_at, in_id: 'in_expire_at', in_value: @batch.expire_at, out_id: 'batch[expire_at]', field_id: 'ex_short_date',  model: 'ex_date', dp_open: 'ex_open', dp_options: 'ex_options', dp_click: 'open_ex_date($event)'}

    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary', ng_click: 'before_submit()'
