= simple_form_for(@vat_period, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :accounting_period, as: :hidden
  .form-group
    .labels_width.control-label
      = f.label :accounting_period
    .fields_width
      %input{id: 'show', type: 'text', class: 'form-control', value: f.object.accounting_period.name, disabled: true}

  = f.input :name, disabled: !@vat_period.preliminary?

  .form-group.form-inline
    .labels_width.control-label
      = f.label :vat_from
    .fields_width
      = f.date_field :vat_from
      = f.error :vat_from

  .form-group.form-inline
    .labels_width.control-label
      = f.label :vat_to
    .fields_width
      = f.date_field :vat_to
      = f.error :vat_to

  .form-group.form-inline
    .labels_width.control-label
      = f.label :deadline
    .fields_width
      = f.date_field :deadline
      = f.error :deadline

  = f.association :supplier, collection: @suppliers, label: "#{t(:report_to)}", disabled: !@vat_period.new_record? && !@vat_period.preliminary?
  = f.input :state, disabled: true

  .form-button-group
    .actions
      - if @vat_period.new_record? || @vat_period.preliminary?
        = f.submit class: 'btn btn-primary'
      - if !@vat_period.new_record? && @vat_period.can_calculate?
        - url = state_change_vat_period_path + '&event=mark_calculated'
        = link_to "#{t(:create)} #{t(:vat_report)}", url, method: 'post', class: 'btn btn-primary'
