.input-group.col-sm-48
  = link_to "#{t(:create)} #{t(:vat_period)}", new_vat_period_path, class: 'btn btn-success'

  .col-sm-30.col-md-30.pull-right.text-right
    = form_tag vat_periods_path, class: 'form-inline submit-on-change', method: :get, enforce_utf8: false  do
      = text_field_tag('locale' , params[:locale], type:'hidden')
      = select_tag(:accounting_period_id,
        options_for_select(@accounting_periods.each.collect{|w| [w.name, w.id]}, @period),
        class: 'btn btn-default')
.clear &nbsp;

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:name)
        %th.numeric= t(:from)
        %th.numeric= t(:to)
        %th.numeric= t(:deadline)
        %th= t(:state)
        %th
        %th
    %tbody
      - @vat_periods.each do |vat_period|
        %tr
          %td= vat_period.name
          %td.numeric= vat_period.vat_from
          %td.numeric= vat_period.vat_to
          %td.numeric= vat_period.deadline
          %td= vat_period.state
          - if !vat_period.preliminary?
            %td= report_button_for vat_period_vat_reports_path(vat_period)
          - else
            %td
          %td.numeric= link_to settings_icon, edit_vat_period_path(vat_period)
          %td.numeric= delete_modal vat_period, nil, '#mdId'

  = paginate @vat_periods, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}