= simple_form_for(@export_bank_file_row, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :posting_date, as: :string
  = f.input :amount 
  = f.input :bankgiro
  = f.input :plusgiro 
  = f.input :ocr
  = f.input :name
  = f.input :reference
  = f.input :bank_date, as: :string
  = f.input :currency_paid
  = f.input :currency_debit

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'
