= simple_form_for(@unit, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :name, required: true, autofocus: true 
  = f.input :weight
  = f.input :package_dimensions

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'
