.container-fluid.well
  .panel.panel-default.col-sm-offset-2.col-sm-8
    %i
      %h3
        Unit information 
    .panel-body
      = simple_form_for(@unit, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
        = f.error_notification

        = f.input :name, required: true, autofocus: true
        = f.input :weight
        = f.input :package_dimensions

        = f.submit class: 'btn btn-primary'
        = link_to 'Back', units_path, class: 'btn btn-primary'