.container-fluid.well
  = simple_form_for(@unit, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    .panel.panel-default.col-sm-offset-2.col-sm-8
      = f.error_notification
      .relform
        .absform-sm.alert-info.visible-sm
        .absform-md.alert-info.visible-md
        .absform-lg.alert-info.visible-lg
      = f.input :name, required: true, autofocus: true 
      = f.input :weight
      = f.input :package_dimensions

    .col-sm-offset-2.col-sm-8
      = f.submit class: 'btn btn-primary'
      = link_to 'Back', units_path, class: 'btn btn-primary'