- @verificate_items = @verificate.verificate_items.page(params[:page]).decorate

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:account)
        %th= t(:description)
        %th.numeric= t(:debit)
        %th.numeric= t(:credit)
        %th.nowrap= t(:result_unit)
        %th
        %th
    %tbody{}
      - @verificate_items.each do |verificate_item|
        %tr
          %td= verificate_item.account.number
          %td= verificate_item.description
          %td.numeric= verificate_item.debit
          %td.numeric= verificate_item.credit
          %td= verificate_item.result_unit_name
          %td= link_to settings_icon, edit_verificate_verificate_item_path(@verificate, verificate_item)
          %td= delete_modal verificate_item, verificate_verificate_item_path(@verificate, verificate_item), '#mdId'
      %tr
        %td
        %td
          = t(:total)
        %td.numeric
          = number_with_precision(@verificate.total_debit, precision: 2)
        %td.numeric
          = number_with_precision(@verificate.total_credit, precision: 2)
        %td
        %td
        %td
  = paginate @verificate_items, :theme => 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdId'}


