= simple_form_for(@ne_code, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :code
  = f.input :text
  = f.input :sum_method, as: :select, collection: NeCode::SUM_METHODS, include_blank: false

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'


