= simple_form_for(@file_importer, wrapper: :horizontal_form, html: {class: 'form-horizontal'}, url: ne_code_import_path) do |f|
  = f.error_notification
  = f.input :directory, readonly: true
  = f.input :file, as: :select, collection: @files, include_blank: false
  = f.input :type, as: :select, collection: @file_importer.types, include_blank: false, input_html: {class: 'medium'}
  = f.input :accounting_plan, as: :select, collection: @accounting_plans, include_blank: false

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'