%div{:ng_controller => 'transfer_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@transfer, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    - if @transfer.new_record?
      = f.association :from_warehouse, :input_html => {:ng_model => 'warehouse_id', :ng_change => 'select_warehouse()'}

      .form-group.select.required.transfer_product
        = f.label :product, :class=>'select required col-sm-3 col-md-2 control-label' 
        .col-sm-9.col-md-10
          %input{:id => "transfer_product_id", :name => "transfer[product_id]", :value => '{{product_id}}', :type => 'hidden'}
          %select{:ng_model=>'product_id', :ng_options=>"opt.product_id as opt.name for opt in options", :ng_change => 'select_product()', :class=>'select required form-control', :include_blank=>false}

      .form-group
        .col-sm-3.col-md-2.control-label
          %label  
            = t(:available)
        .col-sm-9.col-md-10
          %input{:class=>'form-control  numeric', :value=>'{{quantity}}', :readonly => 'readonly'}

    - if !@transfer.new_record?
      = f.association :from_warehouse, disabled: true
      = f.association :product, disabled: true

    = f.input :quantity, disabled: !@transfer.new_record?
    = f.association :to_warehouse, disabled: !@transfer.new_record?

    - if @transfer.new_record?
      = simple_fields_for :comments do |c|
        .form-group
          .col-sm-3.col-md-2.control-label
            = c.label t(:comment)
          .col-sm-9.col-md-10
            = c.input :body, as: :text, label: false, :class => 'form-control'

    - if !@transfer.new_record? 
      = f.input :state, disabled: true
      = f.input :sent_at, as: :string, disabled: true
      = f.input :received_at, as: :string, disabled: true

    - if @transfer.new_record?
      = f.submit class: 'btn btn-primary'
    = link_to 'Back', transfers_path, class: 'btn btn-primary'
