%div{:ng_controller => 'transfer_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@transfer, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    - if @transfer.new_record?
      = f.association :from_warehouse, collection: @warehouses, :input_html => {:ng_model => 'warehouse_id', :ng_change => 'select_warehouse()'}
      .hidden
        = f.association :batch

      .form-group.select.required.transfer_batch
        = f.label :batch, :class=>'select required labels_width control-label' 
        .fields_width
          %select{:ng_model=>'bch_id', :ng_options=>"opt.batch_id as opt.name for opt in options", :ng_change => 'select_batch()', :include_blank=>false, :class=>'select required form-control'}

      .form-group
        .labels_width.control-label
          %label  
            = t(:available)
        .fields_width
          %input{:class=>'form-control  numeric', :value=>'{{quantity}}', :readonly => 'readonly'}

    - if !@transfer.new_record?
      = f.association :from_warehouse, collection: @warehouses, disabled: true
      = f.association :batch, disabled: true

    = f.input :quantity, disabled: !@transfer.new_record?
    = f.association :to_warehouse, collection: @warehouses, disabled: !@transfer.new_record?

    - if @transfer.new_record?
      = f.simple_fields_for :comments do |c|
        = c.input :body, as: :text

    - if !@transfer.new_record? 
      = f.input :state, disabled: true, :input_html => {:class => 'medium'}
    - if @transfer.sent?
      = f.input :sent_at, as: :string, disabled: true,  :input_html => { :class => 'date', :value => localize(f.object.sent_at, :format => "%Y-%m-%d") }
    - if @transfer.received?
      = f.input :received_at, as: :string, disabled: true, :input_html => { :class => 'date', :value => localize(f.object.received_at, :format => "%Y-%m-%d") }

    - if @transfer.new_record?
      .form-button-group
        .actions
          = f.submit class: 'btn btn-primary'
