= link_to 'Create Transfer', new_transfer_path, class: 'btn btn-primary'

%div{:ng_controller => "ModalCtrl"}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th Transfer
        %th= t(:from_warehouse)
        %th= t(:to_warehouse)
        %th= t(:product)
        %th= t(:quantity)
        %th= t(:state)
        %th
        %th
      %tbody
        - @transfers.each do |transfer|
          %tr
            %td= transfer.created_at
            %td= link_to(transfer.from_warehouse.name, edit_warehouse_path(transfer.from_warehouse))
            %td= link_to(transfer.to_warehouse.name, edit_warehouse_path(transfer.to_warehouse))
            %td= link_to(transfer.product.name, edit_product_path(transfer.product))
            %td= transfer.quantity
            %td= transfer.state
            %td  
              - if transfer.state == 'not_sent'
                %button{:class => 'btn btn-info', :ng_click=>"open($event, 'sm','transfer_content_" + transfer.id.to_s + "')"}
                  %span{ :class => "glyphicon glyphicon-flag"}
                  = t(:send)
                = render partial: 'shared/modal_state_change', locals: {idx: 'transfer_content_' + transfer.id.to_s, model: transfer, form_path: send_package_transfer_path(transfer), event: 'send_package', return_path: transfers_path}
              - elsif transfer.state == 'sent'
                %button{:class => 'btn btn-info', :ng_click=>"open($event, 'sm','transfer_content_" + transfer.id.to_s + "')"}
                  %span{ :class => "glyphicon glyphicon-flag"}
                  = t(:receive)
                = render partial: 'shared/modal_state_change', locals: {idx: 'transfer_content_' + transfer.id.to_s, model: transfer, form_path: receive_package_transfer_path(transfer), event: 'receive_package', return_path: transfers_path}

            %td= link_to settings_icon, edit_transfer_path(transfer)

  = paginate @transfers, :theme => 'twitter-bootstrap-3'
