%div{:class=> 'container-fluid'}
  .btn-group
    = link_to "#{t(:create)} #{t(:vat)}", new_vat_path, class: 'btn btn-primary'

  .panel.panel-default{:style=>'margin-top:10px; margin-bottom: -10px'}
    %table{:class => 'table'}
      %thead{:class =>'alert-info'}
        %tr
          %th= t(:name)
          %th.numeric= t(:vat_percent)
          %th.numeric= t(:add_factor)
          %th.numeric= t(:sub_factor)
          %th
          %th
      %tbody{}
        - @vats.each do |vat|
          %tr
            %td= vat.name
            %td.numeric= vat.vat_percent
            %td.numeric= number_with_precision(vat.add_factor, precision: 4)
            %td.numeric= number_with_precision(vat.sub_factor, precision: 4)
            %td= link_to settings_icon, edit_vat_path(vat)
            %td= delete_button_for vat

  = paginate @vats, :theme => 'twitter-bootstrap-3'
