%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:product)
      %th{:style => "text-align:right"}
        = t(:quantity)
      %th
    %tbody
      - materials.each do |item|
        %tr
          %td= item.product.name
          %td{:style => "text-align:right"}
            = item.quantity 
          %td= delete_button_for item, purchase_purchase_item_path(@purchase, item)
