%div{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:batch)
        %th.numeric
          = t(:quantity)
        %th
      %tbody
        - materials.each do |item|
          %tr
            %td= item.batch.name
            %td.numeric
              = item.quantity 
            %td= delete_modal_for item, production_material_path(@production, item)
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}