%div{ :ng_controller => 'product_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@product, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    %input{:type => 'hidden', :name => 'class',  :value => params['class']}
    %input{:type => 'hidden', :name => 'object', :value => params['object']}

    = f.association :item, collection: Item.where("stocked=?", 'true') 
 
    = f.input :name
    = f.input :comment
    = f.input :in_price
    = f.input :distributor_price
    = f.input :retail_price

    .form-group
      = f.label :refined_at, class: 'string optional col-sm-3 col-md-2 control-label', for: 'refined_at'
      %div{:class=>"col-sm-9 col-md-10"}
        = hidden_field_tag "in_refined_at", @product.refined_at
        = hidden_field_tag "product[refined_at]", "{{re_date}}"
        .input-group
          = text_field_tag "ex_short_date", '', class: 'form-control', ng_model: 're_date', datepicker_popup: 'yyyy-MM-dd', is_open: 'reOpen', datepicker_options: 'reOptions', show_button_bar: 'false', readonly: true
          %span{:class => "input-group-btn"}
            %button{:class => "btn btn-default", :ng_click=>'open_re_date($event)'}
              %span{ :class => "glyphicon glyphicon-calendar"}

    .form-group
      = f.label :expire_at, class: 'string optional col-sm-3 col-md-2 control-label', for: 'expire_at'
      %div{:class=>"col-sm-9 col-md-10"}
        = hidden_field_tag "in_expire_at", @product.expire_at
        = hidden_field_tag "product[expire_at]", "{{ex_date}}"
        .input-group
          = text_field_tag "ex_short_date", '', class: 'form-control', ng_model: 'ex_date', datepicker_popup: 'yyyy-MM-dd', is_open: 'exOpen', datepicker_options: 'exOptions', show_button_bar: 'false', readonly: true
          %span{:class => "input-group-btn"}
            %button{:class => "btn btn-default", :ng_click=>'open_ex_date($event)'}
              %span{ :class => "glyphicon glyphicon-calendar"}

    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Back', products_path, class: 'btn btn-primary'
