= simple_form_for(@product, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  %input{:type => 'hidden', :name => 'class', :value => params['class']}
  %input{:type => 'hidden', :name => 'object', :value => params['object']}

  = f.association :item, collection: Item.where("stocked=?", 'true') 
  = f.input :product_type,
    as: 'select',
    collection: Product::TYPES,
    include_blank: false

  = f.input :name
  = f.input :in_price
  = f.input :distributor_price
  = f.input :retail_price
  = f.input :vat
  = f.input :weight
  #date-fields-wrapper
    = f.input :expire_at, as: :date
    = f.input :refined_at, as: :date
  = f.button :submit, class: 'btn btn-primary'
  = link_to 'Back', products_path, class: 'btn btn-primary'

:javascript
  $(document).ready(function() {

    // hide expire/refined at fields when type is not refined.
    $("#product_product_type").change(function() {
      var $me = $(this);
      if ($me.val() == 'refined') {
        $('#date-fields-wrapper').show();
      } else {
        $('#date-fields-wrapper').hide();
      }
    });
    if ($('#product_product_type').val() == 'refined') {
      $('#date-fields-wrapper').show();
    } else {
      $('#date-fields-wrapper').hide();
    }
  });
