<%= simple_form_for(@product, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_type,
      as: 'select',
      collection: Product::TYPES,
      include_blank: false
    %>
    <%= f.input :name %>
    <%= f.input :in_price %>
    <%= f.input :distributor_price %>
    <%= f.input :retail_price %>
    <%= f.input :vat %>
    <%= f.input :weight %>
    <div id="date-fields-wrapper">
      <%= f.input :expire_at, as: :date %>
      <%= f.input :refined_at, as: :date %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    // hide expire/refined at fields when type is not refined.
    $("#product_product_type").change(function() {
      var $me = $(this);
      if ($me.val() == 'refined') {
        $('#date-fields-wrapper').show();
      } else { 
        $('#date-fields-wrapper').hide();
      }
    });
    if ($('#product_product_type').val() == 'refined') {
      $('#date-fields-wrapper').show();
    } else { 
      $('#date-fields-wrapper').hide();
    }
  });
</script>
