%div{ :ng_controller => 'product_form_ctrl', :ng_init => 'init()'}
  = simple_form_for(@product, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    = f.error_notification

    %input{:type => 'hidden', :name => 'class',  :value => params['class']}
    %input{:type => 'hidden', :name => 'object', :value => params['object']}

    = f.association :item, collection: @items, :input_html => {:ng_model => 'item_id', :ng_change => 'select_item()'}
 
    = f.input :name
    = f.input :comment
    = f.input :in_price
    = f.input :distributor_price
    = f.input :retail_price

    = render partial: 'shared/date_field', locals: {form: f, field: :refined_at, in_id: 'in_refined_at', in_value: @product.refined_at, out_id: 'product[refined_at]', field_id: 're_short_date',  model: 're_date', dp_open: 're_open', dp_options: 're_options', dp_click: 'open_re_date($event)'}

    = render partial: 'shared/date_field', locals: {form: f, field: :expire_at, in_id: 'in_expire_at', in_value: @product.expire_at, out_id: 'product[expire_at]', field_id: 'ex_short_date',  model: 'ex_date', dp_open: 'ex_open', dp_options: 'ex_options', dp_click: 'open_ex_date($event)'}

    = f.button :submit, class: 'btn btn-primary'
