<%= simple_form_for(@product, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :out_price %>
    <%= f.input :in_price %>
    <%= f.input :customer_price %>
    <%= f.input :vat %>
    <%= f.input :weight %>
    <%= f.input :expire_at, as: :date %>
    <%= f.input :refined_at, as: :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
