%h1 Product list
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Name
      %th Reseller
      %th End customer
      %th
      %th
    %tbody
    - @products.each do |product|
      %tr
        %td= product.name 
        %td #{product.distributor_price} (ex vat)
        %td #{product.product_price} (ink vat)
        %td= link_to settings_icon, edit_product_path(product) 
        %td= link_to delete_icon, product, method: :delete, data: { confirm: 'Are you sure?' } 

= link_to 'Create Product', new_product_path, class: 'btn btn-default'
