<h1>Produktlista</h1>
<table class="table table-striped ">
  <thead>
    <tr>
      <th>Name</th>
      <th>ÅF pris</th>
      <th>Kundpris</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.distributor_price %>(ex vat)</td>
        <td><%= product.product_price %>(ink vat)</td>
        <td><%= link_to settings_icon, edit_product_path(product) %></td>
        <td><%= link_to delete_icon, product, method: :delete, data: { confirm: 'är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path, :class => "btn" %>
