= link_to 'Create Product', new_product_path, class: 'btn btn-primary'

%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:name)
      %th.numeric= t(:reseller)
      %th.numeric= t(:end_customer)
      %th.numeric= t(:quantity)
      %th.tabnum= t(:in_qty)
      %th.tabnum= t(:out_qty)
      %th
      %th
    %tbody
    - @products.each do |product|
      %tr
        %td= product.name 
        %td.numeric  #{product.distributor_price} (ex vat)
        %td.numeric  #{product.product_price} (ink vat)
        %td.tabnum= product.quantity
        %td.tabnum= product.in_quantity
        %td.tabnum= product.out_quantity
        %td= link_to settings_icon, edit_product_path(product) 
        %td= delete_button_for product

= paginate @products, :theme => 'twitter-bootstrap-3'