= simple_form_for(@supplier, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  = f.input :name, required: true, autofocus: true
  = f.input :primary_contact_id, as: :select, collection: @contacts
  = f.input :bg_number, :input_html => {:class => 'medium'} 
  = f.input :vat_number, :input_html => {:class => 'short'}
  = f.input :address
  = f.input :zip, :input_html => {:class => 'short'}
  = f.input :city
  = f.input :country, :input_html => {:class => 'medium'}

  = f.submit class: 'btn btn-primary'
