= simple_form_for(@supplier) do |f|
  = f.error_notification

  = f.input :name, required: true, autofocus: true
  = f.input :vat_number
  = f.input :address
  = f.input :zip
  = f.input :city

  = f.submit class: 'btn btn-primary'
  = link_to 'Back', suppliers_path, class: 'btn btn-default'