= simple_form_for(@supplier) do |f|
  = f.error_notification

  = f.input :name, required: true, autofocus: true
  = f.input :vat_number
  = f.input :address
  = f.input :zip
  = f.input :city

  = form_submit(f)
