%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#supplier-form", {"data-toggle" => "tab"}
  %li= link_to t(:contacts), "#contact-index", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
  %li= link_to t(:purchases), "#purchase-index", {"data-toggle" => "tab"}
.tab-content
  #supplier-form.tab-pane.active
    %br
    = render 'form'
  #contact-index.tab-pane
    = render partial: 'contact_relations/index', locals: {contact_relations: @supplier.contact_relations, parent: @supplier}
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @supplier.comments, parent: @supplier}
  #purchase-index.tab-pane
    = render partial: 'purchases/list', locals: {purchases: Kaminari.paginate_array(@supplier.purchases.collect{|purchase| purchase.decorate}).page(params[:page])}

:javascript
  $(document).ready(function() {

  $('a[data-toggle="tab"]').on("click", function(e) {
   localStorage.setItem('supplier_tab', $(e.target).attr("href").substr(1));
  });

  var lastTab = localStorage.getItem('supplier_tab');
  if (lastTab) {
    $('ul.nav-tabs').children().removeClass('active');
    $('a[href="#'+ lastTab +'"]').parents('li:first').addClass('active');
    $('div.tab-content').children().removeClass('active');
    $('#'+lastTab).addClass('active');
  }
  });
