.input-group.full-width
  = link_to "#{t(:create)} #{t(:tax_code)}", new_tax_code_path, class: 'btn btn-success'
  = link_to "#{t(:import)} #{t(:tax_codes)}", tax_code_order_import_path, class: 'btn btn-default'

  .btn-group.pull-right{"data-toggle" => "buttons"}
    %label.btn.btn-default.active
      = radio_button_tag :single_use, 'vat', true
      = t(:vat)
    %label.btn.btn-default
      = radio_button_tag :single_use, 'wage', false
      = t(:wage)
    %label.btn.btn-default
      = radio_button_tag :single_use, 'default', false
      = t(:default)

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th.numeric= t(:code)
        %th= t(:text)
        %th= t(:sum_method)
        %th= t(:accounts)
        %th
        %th
    %tbody{}
      - @tax_codes.vat.each do |tax_code|
        %tr.show-vat
          %td.numeric= tax_code.code
          %td= tax_code.text
          %td= tax_code.sum_method
          %td= link_to link_icon, tax_code_path(tax_code)
          %td= link_to settings_icon, edit_tax_code_path(tax_code)
          %td= delete_modal_for tax_code
      - @tax_codes.wage.each do |tax_code|
        %tr.show-wage
          %td.numeric= tax_code.code
          %td= tax_code.text
          %td= tax_code.sum_method
          %td= link_to link_icon, tax_code_path(tax_code)
          %td= link_to settings_icon, edit_tax_code_path(tax_code)
          %td= delete_modal_for tax_code
      - @tax_codes.default.each do |tax_code|
        %tr.show-default
          %td.numeric= tax_code.code
          %td= tax_code.text
          %td= tax_code.sum_method
          %td= link_to link_icon, tax_code_path(tax_code)
          %td= link_to settings_icon, edit_tax_code_path(tax_code)
          %td= delete_modal_for tax_code

  = paginate @tax_codes, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
  - if @trans.complete == false
    = render partial: 'shared/modal_refresh', locals:{idx: 'refresh_id', back: tax_code_order_import_path, path: tax_codes_path}

:javascript
  $(document).ready(function () {
    $('.show-wage').hide();
    $('.show-default').hide();

    $('input[name="single_use"]').change( function() {
      $('.show-vat').hide();
      $('.show-wage').hide();
      $('.show-default').hide();
      switch ($(this).val()) {
      case 'vat':
        $('.show-vat').show();
        break;
      case 'wage':
        $('.show-wage').show();
        break;
      case 'default':
        $('.show-default').show();
        break;
      default:
      };
    });
  });