= simple_form_for(@warehouse, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  = f.input :name
  -if !@warehouse.new_record? && @warehouse.contacts?
    = f.input :primary_contact_id, as: :select, collection: @contacts
  = f.input :address
  = f.input :zip, :input_html => {:class=>'short'}
  = f.input :city

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'
