%ul{:class => 'nav nav-tabs'}
  %li.active= link_to t(:base_information), "#warehouse-form", {"data-toggle" => "tab"}
  %li= link_to t(:shelves), "#shelf-index", {"data-toggle" => "tab"}
  %li= link_to t(:contacts), "#contact-index", {"data-toggle" => "tab"}
  %li= link_to t(:comments), "#comment-index", {"data-toggle" => "tab"}
.tab-content
  #warehouse-form.tab-pane.active
    %br
    = render 'form'
  #shelf-index.tab-pane
    = render "shelves/index", {shelves: @warehouse.shelves}
  #contact-index.tab-pane
    = render partial: 'contact_relations/index', locals: {contact_relations: @warehouse.contact_relations, parent: @warehouse}
  #comment-index.tab-pane
    = render partial: 'comments/index', locals: {comments: @warehouse.comments, parent: @warehouse}

:javascript
  $(document).ready(function() {

  $('a[data-toggle="tab"]').on("click", function(e) {
   localStorage.setItem('warehouse_tab', $(e.target).attr("href").substr(1));
  });

  var lastTab = localStorage.getItem('warehouse_tab');
  if (lastTab) {
    $('ul.nav-tabs').children().removeClass('active');
    $('a[href="#'+ lastTab +'"]').parents('li:first').addClass('active');
    $('div.tab-content').children().removeClass('active');
    $('#'+lastTab).addClass('active');
  }
  });
