%h1 Warehouse #{@warehouse.name}
%ul{:class => 'nav nav-tabs'}
  %li.active= link_to "Base information", "#warehouse-form", {"data-toggle" => "tab"}
  %li= link_to "Shelves", "#shelf-index", {"data-toggle" => "tab"}
.tab-content
  #warehouse-form.tab-pane.active
    = render 'form'
  #shelf-index.tab-pane
    = render "shelves/index", {shelves: @warehouse.shelves}
