<h1>Lagerlista</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Adress</th>
      <th>Postnr</th>
      <th>Stad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.name %></td>
        <td><%= warehouse.address %></td>
        <td><%= warehouse.zip %></td>
        <td><%= warehouse.city %></td>
        <td><%= link_to settings_icon, edit_warehouse_path(warehouse) %></td>
        <td><%= link_to delete_icon, warehouse, method: :delete, data: { confirm: 'är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nytt Lager', new_warehouse_path, :class => "btn" %>
