%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Name
      %th Address
      %th Zip
      %th City
      %th
      %th
    %tbody
    - @warehouses.each do |warehouse|
      %tr
        %td #{link_to(warehouse.name, warehouse)}
        %td= warehouse.address
        %td= warehouse.zip
        %td= warehouse.city
        %td= link_to settings_icon, edit_warehouse_path(warehouse)
        %td= link_to delete_icon, warehouse, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Create Warehouse', new_warehouse_path, class: 'btn btn-default'
