.form-button-group{:ng_controller=>'ModalCtrl'}
  .actions
    - if @sale.can_edit_items?
      = link_to t(:add_batch), new_sale_sale_item_path(@sale), class: 'btn btn-primary pull-left'

    - # Don't show next-step unless there are items in the sale.
    - if @sale.sale_items.count > 0 && !@sale.completed?

      - if @sale.can_edit_items?
        %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','salesContent' )"}
          = t(:ordered)
        = render partial: 'shared/modal_state_change', locals: {idx: 'salesContent', model: @sale, form_path: state_change_sale_path(@sale), event: 'mark_prepared', return_path: sale_path(@sale)}

      - elsif !@sale.canceled?
        - if !@sale.delivered?
          %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','goodsContent' )"}
            = t(:delivered)
          = render partial: 'shared/modal_state_change', locals: {idx: 'goodsContent', model: @sale, form_path: state_change_sale_path(@sale), event: 'deliver', return_path: sale_path(@sale)}

        - if !@sale.paid?
          %button{:class=>'btn btn-primary', :ng_click=>"open($event, 'sm','payContent' )"}
            = t(:paid)
          = render partial: 'shared/modal_state_change', locals: {idx: 'payContent', model: @sale, form_path: state_change_sale_path(@sale), event: 'pay', return_path: sale_path(@sale)}
          - unless @sale.invoice_sent?
            = link_to t(:send_email_with_invoice),
              send_email_sale_path(@sale),
              class: 'btn btn-primary',
              method: 'post',
              data: {confirm: t(:send_email_to_customer)}
          %button{:class=>'btn btn-default', :ng_click=>"open($event, 'sm','salesContent' )"}
            = t(:cancel)
          = render partial: 'shared/modal_state_change', locals: {idx: 'salesContent', model: @sale, form_path: state_change_sale_path(@sale), event: 'mark_canceled', return_path: sale_path(@sale)}
