- date_now = DateTime.now.strftime("%Y-%m-%d")
.form-button-group
  .actions
    - if @sale.can_edit_items?
      = link_to t(:add_batch), new_sale_sale_item_path(@sale), class: 'btn btn-primary pull-left'

    - # Don't show next-step unless there are items in the sale.
    - if @sale.sale_items.count > 0 && !@sale.completed?

      - if @sale.can_edit_items?
        %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#scId'}
          = t(:ordered)
        = render partial: 'shared/modal_state_changes', locals: {modalId: 'scId',
                                                       date_label: t(:the_date),
                                                       date_field: :state_change_at,
                                                       date_value: date_now,
                                                       min_date: nil,
                                                       max_date: nil,
                                                       checkbox: :report_delivery,
                                                       model: @sale,
                                                       form_path: state_change_sale_path(@sale),
                                                       event: 'mark_prepared',
                                                       return_path: sale_path(@sale)}

      - elsif !@sale.canceled?
        - if !@sale.delivered?
          %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#scdId'}
            = t(:delivered)
          = render partial: 'shared/modal_state_changes', locals: {modalId: 'scdId',
                                                       date_label: t(:the_date),
                                                       date_field: :state_change_at,
                                                       date_value: date_now,
                                                       min_date: nil,
                                                       max_date: nil,
                                                       model: @sale,
                                                       form_path: state_change_sale_path(@sale),
                                                       event: 'deliver',
                                                       return_path: sale_path(@sale)}

        - if !@sale.paid?
          %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#scpId'}
            = t(:paid)
          = render partial: 'shared/modal_state_changes', locals: {modalId: 'scpId',
                                                       date_label: t(:the_date),
                                                       date_field: :state_change_at,
                                                       date_value: date_now,
                                                       min_date: nil,
                                                       max_date: nil,
                                                       model: @sale,
                                                       form_path: state_change_sale_path(@sale),
                                                       event: 'pay',
                                                       return_path: sale_path(@sale)}


          - if !@sale.invoice_sent? && !@sale.overdue?
            - title = t(:send_email_to_customer)
            %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#diId'}
              = t(:send_email_with_invoice)
            = render partial: 'shared/modal_dialogs', locals: {modalId: 'diId',
                                                       title: title,
                                                       model: @sale,
                                                       select: 'mail_template',
                                                       form_path: send_email_sale_path(@sale),
                                                       return_path: sales_path,
                                                       collection: @mail_templates_invoice}

          - if @sale.overdue?
            - title = t(:send_reminder_to_customer)
            %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#drId'}
              = t(:send_reminder_to_customer)
            = render partial: 'shared/modal_dialogs', locals: {modalId: 'drId',
                                                       title: title,
                                                       model: @sale,
                                                       select: 'mail_template',
                                                       form_path: send_reminder_email_sale_path(@sale),
                                                       return_path: sales_path,
                                                       collection: @mail_templates_reminder}

          %button{:class=>'btn btn-primary', :type=>'button', :'data-toggle' => 'modal', :'data-target' => '#sccId'}
            = t(:cancel)
          = render partial: 'shared/modal_state_changes', locals: {modalId: 'sccId',
                                                       date_label: t(:the_date),
                                                       date_field: :state_change_at,
                                                       date_value: date_now,
                                                       min_date: nil,
                                                       max_date: nil,
                                                       model: @sale,
                                                       form_path: state_change_sale_path(@sale),
                                                       event: 'mark_canceled',
                                                       return_path: sale_path(@sale)}