= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  disabled: !@sale.new_record?

  - if @sale.new_record?
    %div{:class=>"form-group"}
      = f.label :customer, :class => "col-sm-3 control-label"
      = f.input :customer_id, as: :hidden
      %div{:class=>"col-sm-9"}
        %input{:ng_model=>"selected", :typeahead_on_select => "onSelect($item, $model, $label)", :typeahead=>"c.name for c in customer | filter:$viewValue | limitTo:8", :class=>"form-control"} 

    %div{:class=>"form-group"}
      = f.label :contact_name, :class => "col-sm-3 control-label"
      = f.input :contact_name, as: :hidden
      %div{:class=>"col-sm-9"}
        %input{:ng_model=>"custref", :typeahead_on_select => "onSelectRef($item, $model, $label)", :typeahead=>"r.name for r in reference | filter:$viewValue | limitTo:8", :class=>"form-control"}
  - else
    = f.association :customer, disabled: true
    = f.input :contact_name, disabled: !@sale.new_record?
  = f.input :contact_email, disabled: !@sale.new_record?

  - if @sale.new_record?
    = f.submit class: 'btn btn-primary'
  - else
    - if @sale.can_edit_items?
      %div{:class=>"form-group"}
        = f.label :approved_at, :class => "col-sm-3 control-label"
        %input{:type => "hidden", :id => "sale_approved_at", :name=> "sale[approved_at]", :value => "{{datevar}}"}
        %div{:class=>"col-sm-9"}
          %div{:class => "input-group"}
            %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
              %span{:class => "input-group-btn"}
                %button{:class => "btn btn-default", :ng_click=>"openDate($event)" }
                  %i{ :class => "glyphicon glyphicon-calendar"}
    - else
      = f.input :approved_at, as: :string, disabled: true

      -if !@sale.is_delivered?
        %div{:class=>"form-group"}
          = label_tag :goods_delivered_at
          %input{:type => "hidden", :id => "goods_delivered_at", :name=> "sale[goods_delivered_at]", :value => "{{datevar}}"}
          %div{:class=>"input-group col-md-4"}
            %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
              %span{:class => "input-group-btn"}
                %button{:class => "btn btn-default", :ng_click=>"openDate($event)"}
                  %i{ :class => "glyphicon glyphicon-calendar"}
      - else
        = f.input :goods_delivered_at, as: :string, disabled: true

        - if !@sale.is_paid?
          %div{:class=>"form-group"}
            = label_tag :paid
            %input{:type => "hidden", :id => "paid_at", :name=> "sale[paid_at]", :value => "{{datevar}}"}
            %div{:class=>"input-group col-md-4"}
              %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
                %span{:class => "input-group-btn"}
                  %button{:class => "btn btn-default", :ng_click=>"openDate($event)"}
                    %i{ :class => "glyphicon glyphicon-calendar"}
        - else
        = f.input :paid_at, as: :string, disabled: true

