%div{:ng_init => 'initSales()'}
  = simple_form_for(@sale) do |f|
    = f.error_notification

    = f.association :warehouse
    %input{:type=>"text", :ng_model=>"selected", :typeahead_on_select => "onSelect($item, $model, $label)", :typeahead=>"c.name for c in customer | filter:$viewValue | limitTo:8", :class=>"form-control"}
    = f.association :customer

    = f.submit class: 'btn btn-primary'
