= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  disabled: !@sale.new_record?

  - if @sale.new_record?
    = render partial: 'select_customer', locals:{f: f}

  - else
    = f.association :customer, disabled: true
    = f.input :contact_name, disabled: true
    = f.input :contact_email, disabled: true

  = f.input :payment_term, as: :select, collection: ['10', '30'], include_blank: false, disabled: !@sale.new_record?, :input_html =>{:class=>'numeric form_control'}

  - if @sale.new_record?
    = f.submit class: 'btn btn-primary'
    = link_to 'Back', sales_path, class: 'btn btn-primary'
  - else
    = f.input :state, disabled: true
    - if !@sale.can_edit_items?
      = f.input :approved_at, as: :string, disabled: true
    = f.input :goods_state, disabled: true
    - if @sale.is_delivered?
      = f.input :delivered_at, as: :string, disabled: true
    = f.input :money_state, disabled: true
    - if @sale.is_paid?
      = f.input :paid_at, as: :string, disabled: true

