= simple_form_for(@sale) do |f|
  = f.error_notification

  = f.association :customer

  = f.submit class: 'btn btn-primary'
  - if @sale.is_updateable? && !@sale.new_record?
    = link_to t(:mark_complete), mark_complete_sale_path(@sale), method: :post, class: 'btn btn-success'
