%div{:ng_init => 'initSales()'}
  = simple_form_for(@sale) do |f|
    = f.error_notification

    = f.association :warehouse
    %input{:ng_model => "searchCustomer"}
    = f.association :customer, :input_html => {:ng_model => "customerModel", :ng_options => "c.id as c.name for c in customers | filter: searchCustomer"}   

    - if @sale.is_updateable?
      = f.submit class: 'btn btn-primary'
      - unless @sale.new_record?
        = link_to t(:mark_complete), mark_complete_sale_path(@sale), method: :post, class: 'btn btn-success'
 
