= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  disabled: !@sale.new_record?

  - if @sale.new_record?
    %div{:class => ((f.error :customer_id) ? "form-group select required sale_customer has-error": "form-group select required sale_customer")}
      = f.label :customer, :class => "col-sm-3 col-md-2 col-lg-3 control-label required"
      = f.input :customer_id, as: :hidden
      %div{:class=>"col-sm-9 col-md-10 col-lg-9"}
        %input{:ng_model=>"selected", :typeahead_on_select => "onSelect($item, $model, $label)", :typeahead=>"c.name for c in customer | filter:$viewValue | limitTo:8", :class=>"form-control"}
        = f.error :customer_id
        
    %div{:class=>"form-group"}
      = f.label :contact_name, :class => "col-sm-3 col-md-2 col-lg-3 control-label"
      = f.input :contact_name, as: :hidden
      %div{:class=>"col-sm-9 col-md-10 col-lg-9"}
        %input{:ng_model=>"custref", :typeahead_on_select => "onSelectRef($item, $model, $label)", :typeahead=>"r.name for r in reference | filter:$viewValue | limitTo:8", :class=>"form-control"}
  - else
    = f.association :customer, disabled: true    
    = f.input :contact_name, disabled: !@sale.new_record?
    
  = f.input :contact_email, disabled: !@sale.new_record?

  - if @sale.new_record?
    = f.submit class: 'btn btn-primary'
  - else
    - if @sale.can_edit_items?
      = render partial: 'datepicker', :locals => {:txt => 'Approved at', :id => 'sale_approved_at', :name => 'sale[approved_at]', :value => '{{approved}}', :model => 'approved', :dpOptions=>'dateOptions1', :isOpen=>'isOpen1', :onclick=>'openDate($event)' }
    - else
      = f.input :approved_at, as: :string, disabled: true

      -if !@sale.is_delivered?
        = render partial: 'datepicker', :locals => {:txt => 'Goods deliverad at', :id => 'sale_goods_delivered_at', :name => 'sale[goods_delivered_at]', :value => '{{delivered}}', :model => 'delivered', :dpOptions=>'dateOptions1', :isOpen=>'isOpen1', :onclick=>'openDate($event)' }
      - else
        = f.input :goods_delivered_at, as: :string, disabled: true

        - if !@sale.is_paid?
          = render partial: 'datepicker', :locals => {:txt => 'Paid at', :id => 'sale_paid_at', :name => 'sale[paid_at]', :value => '{{paid}}', :model => 'paid', :dpOptions=>'dateOptions1', :isOpen=>'isOpen1', :onclick=>'openDate($event)' }
        - else
          = f.input :paid_at, as: :string, disabled: true

