= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  collection: @warehouses, disabled: !@sale.new_record?

  - if @sale.new_record?
    = render partial: 'select_customer', locals:{f: f}

  - else
    = f.association :customer, disabled: true
    = f.input :contact_name, disabled: true
    = f.input :contact_email, disabled: true

  = f.input :payment_term, as: :select, collection: ['30', '10'], include_blank: false, disabled: !@sale.new_record?, :input_html =>{:class=>'numeric form_control'}

  - if @sale.new_record?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'

  - else
    .form-group
      .labels_width.control-label
        %label= t(:state)
      .fields_width.form-control-static
        - @sale.states.each do |s|
          = s

:javascript
  $(document).ready(function() {

  $('#link_cc').on("click", function(e) {
   localStorage.setItem('warehouse', $('#sale_warehouse_id').val());
  });
  var inwh = $('#sale_warehouse_id').val();
  var warehouse = localStorage.getItem('warehouse');
  if (warehouse && inwh == ""){
    $('#sale_warehouse_id').val(warehouse);
  }
  });
