= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  disabled: !@sale.new_record?

  - if @sale.new_record?
    = render partial: 'select_customer', locals:{f: f}

  - else
    = f.association :customer, disabled: true
    = f.input :contact_name, disabled: true
    = f.input :contact_email, disabled: true

  = f.input :payment_term, as: :select, collection: ['10', '30'], include_blank: false, disabled: !@sale.new_record?, :input_html =>{:class=>'numeric form_control'}

  - if @sale.new_record?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'

  - else
    .form-group
      %label{class: 'col-sm-11 col-md-9 col-lg-7 control-label'}= t(:state)
      .col-sm-39.col-md-41.col-lg-42.form-control-static
        - @sale.states.each do |s|
          = s
