= simple_form_for(@sale, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :warehouse,  collection: @warehouses, disabled: !@sale.new_record?

  - if @sale.new_record?
    = render partial: 'select_customer', locals:{f: f}

  - else
    = f.input :user, disabled: true, label: t(:our_reference), as: :string
    = f.association :customer, disabled: true
    = f.input :contact_name, disabled: true
    = f.input :contact_email, disabled: true
    = f.input :contact_telephone, disabled: true

  = f.input :payment_term, disabled: !@sale.new_record?, :input_html =>{:class=>'numeric form_control'}

  - if @sale.new_record?
    .form-button-group
      .actions
        = f.submit class: 'btn btn-primary'

  - else
    = render partial: 'shared/state_labels_field', locals: {model: @sale}

  - if !@sale.can_delete?
    = f.input :approved_at,  disabled: true, as: :string, input_html: {value: f.object.approved_at, class: 'date'}
  - if @sale.delivered?
    = f.input :delivered_at,  disabled: true, as: :string, input_html: {value: f.object.delivered_at, class: 'date'}
  - if @sale.canceled?
    = f.input :canceled_at,  disabled: true, as: :string, input_html: {value: f.object.canceled_at, class: 'date'}
  - if @sale.paid?
    = f.input :paid_at,  disabled: true, as: :string, input_html: {value: f.object.paid_at, class: 'date'}

:javascript
  $(document).ready(function() {

  $('#link_cc').on("click", function(e) {
   localStorage.setItem('warehouse', $('#sale_warehouse_id').val());
  });
  var inwh = $('#sale_warehouse_id').val();
  var warehouse = localStorage.getItem('warehouse');
  if (warehouse && inwh == ""){
    $('#sale_warehouse_id').val(warehouse);
  }
  });
