%div{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:invoice_number)
        %th= t(:approved_at)
        %th= t(:warehouse)
        %th= t(:customer)
        %th= t(:state)
        %th
        %th
        %th
    %tbody
      - sales.each do |sale|
        %tr
          %td= sale.invoice_number
          %td= sale.approved_at
          %td= link_to sale.warehouse_name, sale.warehouse
          %td= link_to sale.customer_name, sale.customer
          %td
            - sale.states.each do |s|
              = s
          - if sale.prepared?
            - show =  link_to doc_icon, sale_path(sale, format: :pdf), :target => "_blank"
          - else
            - show = ' '
          %td= show
          %td= link_to settings_icon, sale
          %td= delete_modal_for sale

  = paginate sales, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
