= link_to "#{t(:create)} #{t(:sale)}", new_sale_path, class: 'btn btn-default'
%select{id: 'selp', class: 'btn btn-default', onchange: 'location = this.options[this.selectedIndex].value;'}
  %option{value: sales_path} #{t(:filter)}: #{t(:all)}
  %option{value: sales_path + '&state=meta_complete'} #{t(:filter)} #{t(:not_approved)}
  %option{value: sales_path + '&state=item_complete'} #{t(:approved)}
  %option{value: sales_path + '&goods_state=not_delivered'} #{t(:not_delivered)}
  %option{value: sales_path + '&money_state=not_paid'} #{t(:not_paid)}
%br
%br
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:sale_id)
      %th= t(:approved_at)
      %th= t(:warehouse)
      %th= t(:customer)
      %th= t(:state)
      %th
      %th
      %th
  %tbody
    - @sales.each do |sale|
      %tr
        %td= link_to "##{sale.id}", sale
        %td= sale.approved_at
        %td= link_to sale.warehouse_name, sale.warehouse
        %td= link_to sale.customer_name, sale.customer
        %td
          - sale.states.each do |s|
            = s
        - if sale.item_complete?
          - show = link_to doc_icon, sale.document_url, target: '_blank'
        - else
          - show = ' '
        %td= show
        %td= link_to settings_icon, sale
        %td= delete_button_for sale

= paginate @sales, :theme => 'twitter-bootstrap-3'

:javascript
  $(document).ready(function() {
    var path = document.location.pathname + document.location.search
    $('#selp').val(path);
  });
