-# This create link is here since it needs to be on the same line as the filter fields.
.col-md-68
  .pull-left
    = link_to "#{t(:create)} #{t(:sale)}", new_sale_path, class: 'btn btn-success'
  .col-md-68.pull-right
    = form_tag sales_path, class: 'form-inline submit-on-change', method: :get do

      = select_tag(:state,
        options_for_select(Sale::FILTER_STAGES.each.collect{|s| [t(s), s]}, params[:state]),
        class: 'btn btn-default',
        prompt: "#{t(:filter)} #{t(:state)}: #{t(:all)}")

      = select_tag(:warehouse_id,
        options_for_select(@warehouses.each.collect{|w| [w.name, w.id]}, params[:warehouse_id]),
        class: 'btn btn-default',
        prompt: "#{t(:filter)} #{t(:warehouses)}: #{t(:all)}")

      = select_tag(:user_id,
        options_for_select(current_organization.users.each.collect{|u| [u.name, u.id]}, params[:user_id]),
        class: 'btn btn-default',
        prompt: "#{t(:filter)} #{t(:users)}: #{t(:all)}")

      .input-group
        = text_field_tag('invoice_number',
          params[:invoice_number],
          placeholder: t(:invoice_search),
          class: 'form-control')
        .span.input-group-btn
          = button_tag(search_icon, class: 'btn btn-default')
  .clear &nbsp;

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:invoice_number)
        %th= t(:approved_at)
        %th= t(:warehouse)
        %th= t(:customer)
        %th= t(:our_reference)
        %th= t(:state)
        %th
        %th
        %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= sale.invoice_number
          %td= sale.approved_at
          %td= link_to sale.warehouse_name, sale.warehouse
          %td= link_to sale.customer_name, sale.customer
          %td= sale.user
          %td
            - sale.states.each do |s|
              = s
          %td
            - if sale.prepared?
              - if sale.has_document?
                = link_to doc_icon, sale.document_url, target: '_blank'
              - unless sale.invoice_sent?
                = link_to envelope_icon,
                  send_email_sale_path(sale),
                  method: 'post',
                  data: {confirm: t(:send_email_to_customer)}
          %td= link_to settings_icon, sale
          %td= delete_modal_for sale

  = paginate @sales, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}

:javascript
  $(document).ready(function() {
    var path = document.location.pathname + document.location.search
    $('#selp').val(path);
  });
