%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:sale_id)
      %th= t(:warehouse)
      %th= t(:customer)
      %th= t(:state)
      %th
      %th
      %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= link_to "##{sale.id}", sale
          %td= link_to sale.warehouse_name, sale.warehouse
          %td= link_to sale.customer_name, sale.customer
          %td
            - sale.states.each do |s|
              = s
          %td= link_to settings_icon, sale
          %td= delete_button_for sale
= link_to 'Create Sale', new_sale_path, class: 'btn btn-default'
