%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t(:warehouse)
      %th= t(:customer)
      %th= t(:state)
      %th
      %th
      %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= link_to sale.warehouse.try(:name), sale.warehouse
          %td= link_to sale.customer.try(:name), sale.customer
          %td
            - sale.states.each do |s|
              = s
          %td= link_to settings_icon, edit_sale_path(sale)
          %td= sale.delete_button
= link_to 'Create Sale', new_sale_path, class: 'btn btn-default'
