.form-inline
  = link_to "#{t(:create)} #{t(:sale)}", new_sale_path, class: 'btn btn-default'
  %select{id: 'selp', class: 'btn btn-default', onchange: 'location = this.options[this.selectedIndex].value;'}
    %option{value: sales_path} #{t(:filter)}: #{t(:all)}
    %option{value: sales_path + '&state=meta_complete'} #{t(:filter)} #{t(:not_approved)}
    %option{value: sales_path + '&state=prepared'} #{t(:approved)}
    %option{value: sales_path + '&goods_state=not_delivered'} #{t(:not_delivered)}
    %option{value: sales_path + '&money_state=not_paid'} #{t(:not_paid)}
  .input-group.col-sm-8
    = form_tag invoice_search_sales_path(), method: :get do
      .input-group
        = text_field_tag('invoice_number','', placeholder: t(:invoice_search), class: 'form-control')
        .span.input-group-btn
          = button_tag(search_icon, class: 'btn btn-default')

%div{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:invoice_number)
        %th= t(:approved_at)
        %th= t(:warehouse)
        %th= t(:customer)
        %th= t(:state)
        %th
        %th
        %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= sale.invoice_number
          %td= sale.approved_at
          %td= link_to sale.warehouse_name, sale.warehouse
          %td= link_to sale.customer_name, sale.customer
          %td
            - sale.states.each do |s|
              = s
          %td
            - if sale.prepared?
              - if sale.has_document?
                = link_to doc_icon, sale.document_url, target: '_blank'
              - unless sale.invoice_sent?
                = link_to envelope_icon,
                  send_email_sale_path(sale),
                  method: 'post',
                  data: {confirm: t(:send_email_to_customer)}
          %td= link_to settings_icon, sale
          %td= delete_modal_for sale

  = paginate @sales, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}

:javascript
  $(document).ready(function() {
    var path = document.location.pathname + document.location.search
    $('#selp').val(path);
  });
