- if @sale.new_record?
  =render partial: 'form'
- else
  .row
    .col-md-2.col-lg-2
      %h3 #{t(:customer)}:
    .col-md-6
      %h3
        #{@sale.customer_name}
        %small #{@sale.customer_email}
  .row
    .col-md-2
      %h3 #{t(:warehouse)}:
    .col-md-4
      %h3 #{@sale.warehouse_name}

  = render partial: 'sale_items/index'

  - unless ! @sale.is_completed?
    = link_to t(@sale.next_step),
      state_change_sale_path(@sale, new_state: @sale.next_step),
      class: 'btn btn-info',
      method: :post
  - unless @sale.is_delivered?
    = link_to t(:deliver),
      state_change_sale_path(@sale, new_state: :deliver_goods),
      class: 'btn btn-info',
      method: :post

  - unless @sale.is_paid?
    = link_to t(:pay),
      state_change_sale_path(@sale, new_state: :pay),
      class: 'btn btn-info',
      method: :post
