%div{ng_controller: 'saleEditCtrl'}
  - if @sale.new_record?
    =render partial: 'form'
  - else
    = simple_form_for(@sale) do |f|
      = f.association :warehouse, disabled: true
      = f.association :customer, disabled: true
      -if @sale.can_edit_items?
        %div{:class=>"form-group"}
          %label= t(:approved_date)
          %input{:type => "hidden", :id => "sale_approved_at", :name=> "sale[approved_at]", :value => "{{datevar}}"}
          %div{:class=>"input-group col-md-4"}
            %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
              %span{:class => "input-group-btn"}
                %button{:class => "btn btn-default", :ng_click=>"openApprovedDate($event)"}
                  %i{ :class => "glyphicon glyphicon-calendar"}
      - else
        = label_tag :approved_at
        %div{:class=>"form-group"}
          %input{:type=>"text", :class=>"form-control", :value => @sale.approved_at.strftime('%Y-%m-%d'), :readonly=>"readonly" }
        -if !@sale.is_delivered?
          %div{:class=>"form-group"}
            = label_tag :goods_delivered_at
            %input{:type => "hidden", :id => "goods_delivered_at", :name=> "sale[goods_delivered_at]", :value => "{{datevar}}"}
            %div{:class=>"input-group col-md-4"}
              %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
                %span{:class => "input-group-btn"}
                  %button{:class => "btn btn-default", :ng_click=>"openApprovedDate($event)"}
                    %i{ :class => "glyphicon glyphicon-calendar"}
        - else
          = label_tag :goods_delivered_at
          %div{:class=>"form-group"}
            %input{:type=>"text", :class=>"form-control", :value => @sale.goods_delivered_at, :readonly=>"readonly" }
          -if !@sale.is_paid?
            %div{:class=>"form-group"}
              = label_tag :paid
              %input{:type => "hidden", :id => "paid_at", :name=> "sale[paid_at]", :value => "{{datevar}}"}
              %div{:class=>"input-group col-md-4"}
                %input{:type => "text", :class => "form-control", :datepicker_popup=>"yyyy-MM-dd", :ng_model=>"datevar", :is_open=>"isOpen1", :datepicker_options=>"dateOptions1", :show_button_bar=>"false", :readonly =>"true"}
                  %span{:class => "input-group-btn"}
                    %button{:class => "btn btn-default", :ng_click=>"openApprovedDate($event)"}
                      %i{ :class => "glyphicon glyphicon-calendar"}
          - else
            = label_tag :paid_at
            %div{:class=>"form-group"}
              %input{:type=>"text", :class=>"form-control", :value => @sale.paid_at, :readonly=>"readonly" }          

    - unless @sale.is_completed?
      = link_to t(@sale.next_step),
        state_change_sale_path(@sale, new_state: @sale.next_step),
        class: 'btn btn-info',
        method: :post
    - unless @sale.is_delivered?
      = link_to t(:deliver),
        state_change_sale_path(@sale, new_state: :deliver_goods),
        class: 'btn btn-info',
        method: :post
    - unless @sale.is_paid?
      = link_to t(:pay),
        state_change_sale_path(@sale, new_state: :pay),
        class: 'btn btn-info',
        method: :post
        
    = render partial: 'sale_items/index'




    
