- customer = @sale.customer.decorate
.container
  .row
    .col-md-12
      %h1= t(:invoice)
  .row
    .col-md-6
      %h3
        = t(:invoice_number)
        %small= "(#{t(:reference)})"
      = @sale.invoice_number

    .col-md-6
      .row
        .col-md-3.mright= t(:the_date)
        .col-md-3= @sale.approved_at
      .row
        .col-md-3.mright= t(:due_date)
        .col-md-3= @sale.due_date

  .row
    .col-md-6
      %h3= t(:buyer)
      %address
        - customer.address_lines.each do |line|
          = line
          %br

  .row
    .col-md-6
      %h3= t(:our_reference)
      .line= @sale.user_name
      .line= @sale.user_email
    .col-md-6
      %h3= t(:your_reference)
      .line= @sale.contact_name
      .line= @sale.contact_email

  .row
    &nbsp;
  .row
    &nbsp;
  .row
    &nbsp;
  .row
    .col-md-12
      %table{:class => 'table table-striped'}
        %thead
          %tr
            %th= t(:item)
            %th= t(:quantity)
            %th.numeric= t(:price)
            %th.numeric= t(:vat)
            %th.numeric= t(:amount)

          %tbody
            - @sale.sale_items.each do |item|
              - item = item.decorate
              %tr
                %td= item.item.name
                %td= item.quantity
                %td.numeric= as_sek(item.price)
                %td.numeric
                  = "(#{item.vat}%) "
                  = as_sek(item.total_vat)
                %td.numeric= as_sek(item.price_sum)
          %tfoot
            %tr
              %td= t(:total)
              %td
              %td
              %td.numeric= as_sek(@sale.total_vat)
              %td.numeric= as_sek(@sale.total_price_inc_vat)
  .row
    &nbsp;
  .row
    &nbsp;
  .row
    &nbsp;
  .row
    .col-md-6
      %p= "#{t(:address)}:"
      %p= @sale.organisation.address
      %p= "#{@sale.organisation.zip} #{@sale.organisation.city}"
    .col-md-6.text-right
      - [:bankgiro, :plusgiro, :postgiro, :vat_number].each do |n|
        - unless @sale.organisation.send(n).blank?
          %p
            = "#{t(n)}: "
            = @sale.organisation.send(n)

