<ul class="breadcrumb">
  <li><%= link_to 'Lagerlista', warehouses_path %></li>
  <li><%= link_to @warehouse.name, edit_warehouse_path(@warehouse) %></li>
  <li class="active">Lagerhändelser <%= @slot.product_name %>(<%= @slot.quantity %>)</li>
</ul>

<%= link_to "Ny Lagerhändelse", new_warehouse_slot_slot_change_path(@warehouse, @slot), :class => "btn" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Typ</th>
      <th>Antal</th>
      <th>Status</th>
      <th>Genomförd av</th>
      <th>Kommentarer</th>
    </tr>
  </thead>
  <tbody>
    <% @slot_changes.each do |change| %>
      <tr>
        <td><%= link_to change.created_at, warehouse_slot_slot_change_path(@warehouse, @slot, change) %></td>
        <td><%= change.change_type %></td>
        <td><%= change.quantity %></td>
        <td><%= change.current_state %></td>
        <td><%= change.user.name %></td>
        <td><%= change.comments.size %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td></td>
      <td><%= @slot.quantity %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tfoot>
</table>
