<ul class="breadcrumb">
  <li> <%= link_to 'Lagerlista', warehouses_path %> </li>
  <li>
    <%= link_to @warehouse.name, edit_warehouse_path(@warehouse) %>
  </li>
  <li>
    <%= link_to @slot.product_name,
                warehouse_slot_slot_changes_path(@warehouse, @slot) %>
  </li>
  <li class="active">Ny Lagerhändelser</li>
</ul>

<%= simple_form_for(@slot_change,
  url: warehouse_slot_slot_changes_path(@warehouse, @slot),
  wrapper: :horizontal_form, html:{class: 'form-horizontal'} ) do |f| %>
  <%= f.error_notification %>

  <%= f.input :slot_id, :as => :hidden %>
  <%= f.input :change_type, :as => :radio_buttons, :collection => SlotChange::TYPES %>
  <%= f.input :quantity, :as => :integer %>
  <%= simple_fields_for :comments do |c| %>
    <%= c.input :content, :label => "Comment", :as => "text" %>
  <% end %>

  <%= form_submit(f, "Genomför lagerändring") %>
<% end %>
