= simple_form_for(@slot_change, url: warehouse_slot_slot_changes_path(@warehouse, @slot)) do |f|
  = f.error_notification

  = f.input :slot_id, as: :hidden
  = f.input :change_type, as: :radio_buttons, collection: SlotChange::TYPES
  = f.input :quantity, as: :integer
  = simple_fields_for :comments do |c|
    = c.input :content, label: 'Comment', as: 'text'

  = form_submit(f, 'Create warehouse transaction')
