- save_class = ''
- total = 0.00
%table.table.table-striped
  %tr
    %td{colspan: '3'}
      .pull-left
        %h2= t(:result)
        - if @result_unit
          %h3= @result_unit.name
      .pull-right
        %h2= @accounting_period.name
  - @verificate_items.each do |item|
    - if save_class != item.cls
      - save_class = item.cls
      %tr.filler
        %td  &nbsp;
      %tr
        %th=item.cls
        %th.nowrap= item.cls_dsc
        %th
    %tr
      - item.deb = 0 if item.deb == nil
      - item.cre = 0 if item.cre == nil
      - sum = -item.deb + item.cre
      - total += sum
      %td=item.num
      %td=item.desc
      %td.numeric=sum
  %tr
    %th
    %th= t(:result)
    %th.numeric=total