!!! 5
%html
  %head
    %title= "Emmy - #{t(controller_name.to_sym)}"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"width=device-width", 'initial-scale'=>"1"}
  %body
    = include_gon
    .page-wrapper
      .row-fluid
        = render partial: 'shared/top_bar'
      .row-fluid.row-offcanvas.row-offcanvas-left.sidebar-wrapper
        #sidebar.col-xs-48.col-sm-48.col-md-12.col-lg-9.sidebar-offcanvas
          = render partial: 'shared/sidebar'
        #page-content.col-xs-48.col-sm-48.col-md-36.col-lg-39
          = render partial: 'shared/notifications'
          = render(partial: 'shared/breadcrumb') if @breadcrumbs
          = yield
      .foot-pusher
        &nbsp;
    = render partial: 'shared/footer'
