!!! 5
%html
  %head
    %title Emmy
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"width=device-width", 'initial-scale'=>"1"}
  %body
    = include_gon
    .page-wrapper
      .row-fluid
        = render partial: 'shared/top_bar'
      .row-fluid
        .col-xs-48
          = render partial: 'shared/notifications'
        #page-content.col-xs-48.col-sm-38.col-sm-offset-5.col-md-40.col-md-offset-4
          = render(partial: 'shared/breadcrumb') if @breadcrumbs
          = yield
      .foot-pusher
        &nbsp;
    = render partial: 'shared/footer'
