= simple_form_for([@accounting_plan, @account], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.association :accounting_class, collection: @accounting_plan.accounting_classes, disabled: !@account.new_record?
  = f.association :accounting_group, collection: @accounting_plan.accounting_groups, disabled: !@account.new_record?
  = f.input :number, disabled: !@account.new_record?
  = f.input :description
  = f.association :tax_code
  = f.association :ink_code
  = f.association :ne_code, collection: @ne_codes

  .form-button-group
    .actions
      = f.submit class: 'btn btn-primary'