.pull-left
  = link_to "#{t(:create)} #{t(:account)}", new_accounting_plan_account_path(@accounting_plan), class: 'btn btn-success'
  = link_to "#{t(:disable)} #{t(:accounts)}", accounting_plan_disable_accounts_path(@accounting_plan), class: 'btn btn-success', method: 'post', disabled: !@accounting_plan.disable_accounts?

.col-sm-40.col-md-40.pull-right.text-right
  = form_tag accounting_plan_path(@accounting_plan), class: 'form-inline submit-on-change', method: :get,  enforce_utf8: false  do
    = text_field_tag('locale' , params[:locale], type:'hidden')
    .input-group
      = text_field_tag('account_number',
        params[:account_number],
        placeholder: t(:search),
        class: 'form-control')
      .span.input-group-btn
        = button_tag(search_icon, class: 'btn btn-default')

    = select_tag(:active,
      options_for_select(Account::FILTER_STAGES.each.collect{|s| [t(s), s]}, params[:active]),
      class: 'btn btn-default')

.clear &nbsp;

.table-responsive
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:number_the_string)
        %th.nowrap= t(:name)
        %th= t(:active)
        %th= t(:tax_code)
        %th= t(:ink_code)
        %th= t(:ne_code)
        %th
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.number
          %td.nowrap= account.description
          %td= active_button_for account, accounting_plan_account_toggle_active_path(@accounting_plan, account)
          %td= account.tax_code_code
          %td= account.ink_code_code
          %td= account.ne_code_code
          %td= link_to settings_icon, edit_accounting_plan_account_path(@accounting_plan, account)
          %td= delete_modal account, accounting_plan_account_path(@accounting_plan, account), '#mdaId'

  = paginate @accounts, param_name: "page_account", theme: 'twitter-bootstrap-3'

= render partial: 'shared/modal_deletes', locals: {modalId: 'mdaId'}