- @accounts = @accounting_plan.accounts.order('number').page(params[:page_account]).decorate
.btn-group
  = link_to "#{t(:create)} #{t(:account)}", new_accounting_plan_account_path(accounting_plan), class: 'btn btn-success'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:number)
        %th.nowrap= t(:name)
        %th= t(:tax_code)
        %th= t(:ink_code)
        %th= t(:ne_code)
        %th
        %th
    %tbody{}
      - @accounts.each do |account|
        %tr
          %td= account.number
          %td.nowrap= account.description
          %td= account.tax_code_code
          %td= account.ink_code_code
          %td= account.ne_code_code
          %td= link_to settings_icon, edit_accounting_plan_account_path(@accounting_plan, account)
          %td= delete_modal_for account, accounting_plan_account_path(@accounting_plan, account)

  = paginate @accounts, param_name: "page_account", theme: 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}
